[2013-08-13 20:34] digitaltoad opened #1 "Should progress be saved to the uploader?"
I'm trying to come up with the best Ember way to track progress. Should the uploader only emit progress events or should progress be set on the uploader?

[2013-08-13 20:36] digitaltoad opened #2 "Should the file be passed to the uploader or a property of the uploader?"

[2013-08-30 13:56] dagda1 opened #3 "What does the serverside sign method do?"
I want to use your uploader with S3.

I am curious to know what you expect the sign method to do and what structure of json it should return?

I am referring to this sign method:

[code]

[2014-01-29 11:44] seifsallam opened #4 "How can i use ember-uploader?"
I can't find any docs for getting started. How can i integrate this with progress view?

[2014-02-04 07:02] #4 closed, assigned to nobody

[2014-02-08 13:26] chrism opened #8 "ES6 module compilation"
Great library, many thanks!

Do you think it would be worth making an ES6 module version as people move to Ember App Kit or the forthcoming Ember CLI?

If so maybe I could try to create a PR for that?

[2014-02-20 18:51] scribu opened #9 "Does this work with IE8+?"
Hello,

Does this library work in older browsers, particularly IE 8 and IE 9? I didn't see any mention of browser compatibility in the readme.

[2014-02-21 03:31] #9 closed, assigned to nobody

[2014-02-23 08:43] seifsallam opened #11 "S3 upload"
S3 uploading doesn't upload to amazon. I receive 201 from amazon but i can't see the files uploaded.

[code]

Response from backend

[code]

Response from amazon

[code]

I'm I doing something wrong?

[2014-02-24 07:46] #11 closed, assigned to nobody

[2014-04-23 02:06] lourenzo opened #13 "Can't run the tests. TypeError: Not a buffer at new Hmac"
I had to make some changes in bower's file and the HTML template for the testing tasks, and will send the pull request soon

But when I run I got this 500 error from the express instance at //0.0.0.0:8000 :

[code]

[2014-04-23 04:26] #13 closed, assigned to nobody

[2014-05-20 17:58] mgenev opened #16 "how to make this post on form submit, not upload of file to browser?"
I'm not quite able to understand that part, looks like the whole thing fires when i upload, but I want to collect more data from the user like name tags etc before i post everything together and save it in the db

[2014-07-03 21:21] mgenev opened #17 "having trouble with multiples"
I change the code like the example, but no matter what i do, only 1 file makes it to my server

[2014-07-28 01:25] MaazAli opened #18 "Sending extra parameters in get request"
When signing the request with the server how can I send in extra parameters?

`name=name.jpg&type=image%2Fjpeg&size=147961`

How can I send in more parameters?

like directory
`name=name.jpg&type=image%2Fjpeg&size=147961&directory=images/some/`

[2014-07-29 17:29] #18 closed, assigned to nobody

[2014-07-29 17:38] #16 closed, assigned to nobody

[2014-07-29 17:38] #3 closed, assigned to nobody

[2014-07-29 18:04] MaazAli opened #19 "Proper way to specify the Content Type when uploading to Amazon S3"
I'm having a lot of trouble getting the content type right when uploading to Amazon S3. The upload goes through without much issues, but Amazon throws back errors whenever I try to specify the content type.

In this example: https://github.com/benefitcloud/ember-uploader/wiki/S3-Server-Setup

I see that the content type is specified `Content-Type: the_type` and then later on in the policy statemen

[2014-07-29 18:06] MaazAli opened #20 "Setting the file_name to a controller property?"
Since ember-uploader is a component, how would I go about setting the file name to the current controller's property? In views you can call a function on the controller and send in parameters, is there something similar for components that I can use. If not, what would be the best way to go about getting the file name to the controller?

[2014-07-31 03:20] #19 closed, assigned to nobody

[2014-08-01 13:08] saarangsoltani opened #23 "Sending additional data with upload to server"
it could be great to send additional data along with the upload post/put request to the server. Most jquery upload plugins support this.
Consider this as  a proposal.

[2014-08-01 13:13] #23 closed, assigned to nobody

[2014-08-04 20:18] #20 closed, assigned to nobody

[2014-09-07 19:51] #17 closed, assigned to nobody

[2014-09-08 13:46] zac156 opened #26 "Renaming files whilst saving them on S3"
How could I rename a file while saving onto S3?

Currently I am generating a unique filename on the server when signing my S3 upload like this:

        return Response(
            {"acl": "public-read",
            "awsaccesskeyid": "ACCESSKEY",
            "bucket": "bucket",
            "policy": policy_encoded,
            "signature": signature,
            "key": "uploads/%s.%s" % (unique_f

[2014-09-19 13:45] zacid opened #27 "Token Authorization"
Hi,

I've added token authorization to my server now. Where and at what point would I send through my Authorization header for my signed request?

ie. curl -H "Authorization: Token 3099772ca5d0d65746d1b635223590618f1840f3" http://localhost:8000/api/sign/?name=working.png&type=image%2Fpng&size=12221

Thanks again!

[2014-11-03 15:10] zac156 opened #31 "didUpload response is undefined"
Hi,

When I log the response here:

[code]
I get undefined. Why is this happening and is this the desired behaviour?

Thanks,

Zac

[2014-11-27 07:13] albertosouza opened #33 "Update version on bower?"

[2014-12-10 20:54] #8 closed, assigned to nobody

[2014-12-10 20:55] #27 closed, assigned to nobody

[2014-12-10 20:57] #33 closed, assigned to nobody

[2014-12-10 20:58] digitaltoad opened #34 "Update README to reflect ES6 module changes"

[2014-12-11 14:32] peyterkim opened #35 "Specifying Headers along with url"
`export default Ember.FileField.extend({`
	`url: 'endpoint',`
        `headers: {}`
`});`

is this possible or some other way to do it?

[2014-12-16 11:40] hellixir opened #38 "Multiple file uploads"
Trying to make multiple file upload work, but with no success for now.
Is it working as intended?
Backend - Rails 4.2

[code]

No matter what I do, Rails still receive only 1 file. Any ideas how to make it work?

[2014-12-16 20:36] #38 closed, assigned to nobody

[2015-01-05 19:25] digitaltoad commented on #35
Uploader doesn’t use any headers associated with Ember Data. You will have to add the headers yourself. Use ```Ember.$.ajaxPrefilter``` for this.

-- 
Joshua Borton

On December 25, 2014 at 7:11:21 PM, Vladimir Dralo (notifications@github.com) wrote:

I also encountered some strange issue related headers.

I configured default headers to be used by Ember for auth users. Implementation looks like t

[2015-01-14 17:12] mutewinter opened #41 "isUploading Stays True Even on Failure"
When the server responds with an error, the uploader stays set to `isUploading: true`. It should change to false.

[2015-01-16 20:00] #41 closed

[2015-01-21 16:34] eaglevision20 commented on #34
I've been trying to get this integrated into a new cli project I'm working on. It looks like the perfect solution to my need for file uploads to s3. But, I'm having some issues getting it kicked off with the cli project. I believe it is simply because I'm not referencing the addon properly. My current implementation has looked like this:

npm install --save-dev ember-cli-uploader
ember generate em

[2015-01-21 16:39] digitaltoad commented on #34
Sorry, the namespace has changed. You need to import the uploader like you have ember.import Uploader from 'ember-uploader/uploader';-JoshOn Wed, Jan 21, 2015 at 11:34 AM,  benefitcloud/ember-uploader <reply@reply.github.com> wrote:            I've been trying to get this integrated into a new cli project I'm working on. It looks like the perfect solution to my need for file uploads to s3. But, I'

[2015-01-21 17:23] eaglevision20 commented on #34
Thanks for the speedy reply. I have included my working component code below.

[code]
 Thanks for building and sharing this great tool. I'm looking forward to playing more with it in the future!

[2015-01-22 06:39] ianknauer opened #42 "Amazon s3 cross-origin request error"
Hey, i'm getting the following error back from aws when i try to upload files. I'm using ember-cli with a rails api.

[code]

[2015-01-22 08:05] ianknauer opened #43 "InvalidPolicyDocument error when uploading to AWS."
I'm getting an invalidPolicyDocument error when trying to upload a photo to aws. The options request goes through fine, but then the post request is giving me an error.

[code]

[2015-01-22 08:06] ianknauer commented on #42
I was able to resolve this by choosing US Standard as the location for the amazon bucket.

[2015-01-22 20:13] digitaltoad commented on #43
This is in relation to your signing request to S3 and not the uploader itself. I haven’t taken a look at our policy example in a while so if you did copy from that, some of the example properties may no longer be valid.

—
Josh

On Thu, Jan 22, 2015 at 3:05 AM, ianknauer <notifications@github.com>
wrote:

[2015-01-22 20:16] ianknauer commented on #43
I'm using the s3 server setup wiki: https://github.com/benefitcloud/ember-uploader/wiki/S3-Server-Setup

[2015-01-22 20:24] digitaltoad commented on #43
Do you mind supplying your server signing methods?

—
Josh

On Thu, Jan 22, 2015 at 3:17 PM, ianknauer <notifications@github.com>
wrote:

[2015-01-22 20:45] ianknauer commented on #43
[code]

[2015-01-28 18:18] #42 closed

[2015-01-28 18:25] ianknauer commented on #43
I was missing the @expires = 10.hours.from_now, so was sending the request with a null expiry.

[2015-01-28 18:25] #43 closed

[2015-01-28 18:42] digitaltoad commented on #43
Sorry I did not get right back to this. I figured it was more on the signature side and not directly related to ember uploader.

—
Josh

On Wed, Jan 28, 2015 at 1:25 PM, ianknauer <notifications@github.com>
wrote:

[2015-01-28 20:50] clov3rly opened #44 "Authorization Header not set for S3"
Not sure if I'm just using it wrong, but S3 is rejecting my upload requests, presumably because the Authorization header is not set.

I can (probably ;) ) add the header myself, but it seems as though the S3-uploader should do it for me?

Just checking, thanks for putting this plugin up here!

[2015-01-28 21:38] ianknauer opened #45 "Error on Multiple upload on s3 + rails"
This is working great for single files, but when i try to upload multiple files i get an error with the following as a response from amazon

[code]

It looks like the hostId field is getting cut off there

[2015-01-28 23:21] clov3rly commented on #44
Bleh, never mind. Somehow I messed up the signature function I copied from the Wiki. Make sure you're signing with your secret access key, not the access key.

[2015-01-28 23:21] #44 closed

[2015-01-29 00:54] ianknauer commented on #45
Turns out [amazon doesn't accept more than one file per post](https://forums.aws.amazon.com/thread.jspa%3Bjsessionid=F0C5890D9AE602CB21F0B07855A974FB?messageID=123306.).

[2015-01-29 00:54] #45 closed

[2015-01-29 01:01] gte451f opened #46 "Back End Help"
This may be a dumb series of questions but I'm at a loss on what this component is expecting.

1) Does the component issues a single XHR request with the file data encoded in the post?

I ask because when I setup this component in my CLI based app, the component will issue and XHR but doesn't seem to send the actual file in the initial post.

See the attached screen shot of Request Headers and Pay

[2015-01-29 01:04] digitaltoad commented on #46
No it most definitely works without s3. Mind posting your uploader code?-JoshOn Wed, Jan 28, 2015 at 8:01 PM,  benefitcloud/ember-uploader <reply@reply.github.com> wrote:            This may be a dumb series of questions but I'm at a loss on what this component is expecting.

1) Does the component issues a single XHR request with the file data encoded in the post?

I ask because when I setup this

[2015-01-29 11:21] sdn90 opened #47 "S3 Backend Setup"
I think it is a bit confusing that the S3 Backend page on the wiki mentions POST but ember-uploader actually does a GET request to /sign

[2015-01-29 12:35] gte451f commented on #46
False alarm!  After trying the same thing in Firefox, the FireBug console reveals binary data included in the post.  That pointed me back to a server side issue which appears to be something specific to my stack.

[2015-01-29 12:35] #46 closed

[2015-01-29 16:09] digitaltoad commented on #47
Sorry about that. This has been fixed.

[2015-01-29 16:09] #47 closed

[2015-01-29 16:11] #2 closed

[2015-01-29 16:11] #1 closed

[2015-01-29 16:13] digitaltoad commented on #31
I have not heard anything about this in a while. I'm going to close. If you continue to have issues, please reopen with details.

[2015-01-29 16:13] #31 closed

[2015-01-29 16:15] digitaltoad opened #48 "Integration with existing model libraries"
I want to talk about potentially integrating uploader with existing model libraries in Ember. For instance, allowing seamless uploads within ember data. There are already libraries which enable this with Ember Data, is this out of the scope of Uploader?

[2015-01-30 01:28] koryteg commented on #48
I dont think there actually are any libraries that integrate with ember data model. if you know of one let me know please. this uploader is a pretty good solution for now. I am working around it by doing passing the resource name, id, property I am changing (ie avatar) to the server with the request and then doing reloading the records from the server

[2015-01-30 18:07] digitaltoad commented on #48
Here is one that I found a few days ago by accident https://github.com/funtusov/ember-cli-form-data. I've always handled this in a way that the request itself didn't change, I just used the uploader for the request if the model contained an upload. I created uploader intentionally barebones.  Is there room for something like this in uploader or should there be a separate library that maybe has the

[2015-01-30 21:56] koryteg commented on #48
I feel like that would require reworking the entire library, so maybe it would be better to create another uploader that does ember data better. Side note. another feature that would be nice is to be able to customize the params format a bit more. and allow for nested params. ie. I am working with a rails backend and would like to pass the data in nested way like this:

    {
      id: "resource_i

[2015-02-12 00:11] wagenet opened #50 "ember-cli addon"
Would be great to have this as an ember-cli addon.

[2015-02-12 00:15] digitaltoad commented on #50
You are in luck. https://github.com/benefitcloud/ember-cli-uploader

[2015-02-12 00:16] wagenet commented on #50
Whoops. Somehow I missed that :)

[2015-02-12 00:16] #50 closed

[2015-02-12 02:19] wagenet opened #51 ""Failed to set the 'value'" with Ember 1.11"
I was able to work around this issue by setting:

[code]

in the `FileField` component. This ensures the value is always set as an empty string.

[2015-02-12 02:46] digitaltoad commented on #51
Looks like the FileField component needs some tests :disappointed: Mind throwing up a PR for this?

[2015-02-12 17:42] wagenet commented on #51
I'll try to see if I can allocate some time for this. I'm wondering if extending `Ember.TextField` is worth it. Might make sense just to make a new standalone component.

[2015-02-12 18:48] digitaltoad commented on #51
I'll take a look at that.-JoshOn Thu, Feb 12, 2015 at 12:42 PM,  benefitcloud/ember-uploader <reply@reply.github.com> wrote:            I'll try to see if I can allocate some time for this. I'm wondering if extending Ember.TextField is worth it. Might make sense just to make a new standalone component.

—Reply to this email directly or view it on GitHub.

[2015-02-17 15:58] Tuhaj commented on #31
hey, I got a this problem with then handler.
I get a response for success, but there is no response for failure.
[code]

[2015-02-26 15:23] PhilippRoessner opened #52 "Response ErrorCallback has undefined error parameter"
[code]
When the server throws 409 I get an "undefined" to console

[2015-03-03 19:03] #52 closed

[2015-03-04 15:35] dj-hedgehog opened #53 "progress-event with filename (for multiple:true)"
I'm filtering out everything which isn't an image before issuing the upload. Therefore I've got to trigger the upload-function multiple times.

Whenever I receive a `progress`-event there is no way I can figure out which file it belongs to. What can I do about this?

[code]

[2015-03-04 18:33] digitaltoad commented on #53
From a quick glance, you could create a new uploader instance for each file. Then you would have separate events for each. This is still something that I'm struggling with in that I'm not sure the uploader itself should have state, in this case, progress.

[2015-03-04 18:37] digitaltoad commented on #53
I should also add that multiple is not doing anything in this case as you are uploading the files individually.

[2015-03-05 08:56] dj-hedgehog commented on #53
yeah, I tried uploading them all at once but there were errors when using a modified array.

[2015-03-05 18:58] digitaltoad commented on #53
So does my first example work then? A separate uploader per file?

[2015-03-09 21:43] gte451f opened #54 "Resolving Promise Always True"
For some reason, my uploader is always sent to the success state when resolving the promise.  Could my server be returning the wrong results on error?

    var promise = uploader.upload(files);
    promise.then(function (data) {
        // Handle success
        // I am triggered even when the server returns error 500
    }, function (error) {
        // Handle failure
        // This is never tri

[2015-03-10 00:05] digitaltoad commented on #54
Have you checked to make sure that the status code is indeed a 500?

[2015-03-11 06:35] selbyk opened #55 "Has the behavior of S3Uploader changed?"
I have a working copy behaving the way README.md describes but after recloning my project and npm updating, now it's behaving all wacky and am not sure why.

There is a GET to the signing URL:

[code]

With a proper response:

[code]

However, now there is no PUT request to the S3 server and the `response`  param in the code block below the is the JSON response from http://localhost:4200/api/admin

[2015-03-11 07:00] selbyk commented on #55
Node/Express backend implementation, jic.  I'm pretty sure this is working, though.

[code]

[2015-03-12 00:50] selbyk commented on #55
`"ember-uploader": "0.3.4"` in bower.json works, ember-uploader 0.3.5 breaks functionality.  Is there a reason for this?  If so, could you update the readme?  Thanks!

[2015-03-12 01:16] digitaltoad commented on #55
I will look into this. There was a change to the way the promise was resolved/rejected and I believe this is the culprit.

[2015-03-12 06:53] rahult commented on #55
Getting the same issue with 0.3.5

[2015-03-12 23:19] selbyk commented on #55
If I had to guess, it looks like this change is the culprit: https://github.com/benefitcloud/ember-uploader/compare/c5735be1263cf07aec374addefa429b34ce61eee...3ffcef179bb84200bf5b9c8530ad2e1e09dded4e#diff-7da8f6c08d157e1189a4f51cec1e5014R33

[2015-03-12 23:21] selbyk commented on #55
https://github.com/benefitcloud/ember-uploader/compare/c5735be1263cf07aec374addefa429b34ce61eee...3ffcef179bb84200bf5b9c8530ad2e1e09dded4e#diff-cd19b38f35e5030671d7f73532b875bdR36 *

[2015-03-13 10:24] selbyk commented on #26
Yeah, generating unique filenames on the server is how I've been doing it with the didSign event.  Can be closed

[2015-03-13 20:14] digitaltoad commented on #55
Can you try 2de1ba4

[2015-03-14 11:35] rahult commented on #55
Awesome 2de1ba4 worked :+1:

[2015-03-17 21:19] selbyk commented on #55
Oops, didn't notice your reply.  Will test it out when I get back from class. ^^

[2015-03-17 22:31] digitaltoad commented on #55
If it works for you, I'll go ahead and make a new build.

[2015-03-19 15:49] selbyk commented on #55
Works like a charm! Sorry for the delayed response.

I didn't realize you could just bower install by commit.  Pretty nifty.  Thanks for looking into it. ^^

[2015-03-20 17:07] luiscoimbra commented on #55
Hey guys, I had the same problem with 0.3.5 and fixed by changing to 0.3.4.
I got another issue now, the S3 server respond with
<Message>Invalid according to Policy: Policy Condition failed: ["eq", "$butcket", "my_bucket_name"]</Message>
Does anyone knows what can be? (Is there any specific configuration to S3?)

[2015-03-20 17:41] digitaltoad commented on #55
Fixed in 2de1ba4ca6fa4f7c2df1707f583d4d1a761aa6b4

[2015-03-20 17:41] #55 closed

[2015-03-20 17:41] digitaltoad commented on #55
New version has been released.

[2015-03-23 10:10] seifsallam opened #57 "didUpload gets triggered twice with s3 uploader"
After updating `ember-uploder` I found that `didUpload` gets triggered twice. After signing file, then after actually uploading. Is this the correct behavior?

[2015-03-25 00:14] digitaltoad commented on #57
Is this with the newest version? I just made updates a few days ago that I think fixes this problem.

[2015-03-25 08:30] seifsallam commented on #57
Yeah, it's fixed, my bad :)

[2015-03-25 08:30] #57 closed

[2015-03-25 23:31] kcollignon opened #58 "Uploader to s3 invalid s3 policy"
When trying to use the S3Uploader, I am getting this error response from s3:

[code]

I have the exact same code from the README, here it is below:

[code]

Any thoughts on what it could be or how to debug this? I've verified my AWS keys are correct and sending the right value.

[2015-04-01 21:31] kcollignon commented on #58
cc @benefitcloud

[2015-04-01 22:05] kcollignon commented on #58
FWIW, I went and used the `aws-sdk-ruby` gem instead to generate the pre-signed URL, and it worked great.

[2015-04-01 22:05] #58 closed

[2015-04-01 22:13] digitaltoad commented on #58
Hey Kevin sorry about this. I will have to take a look at the example to make sure it is up to date or just recommend using the sdk instead. Thank you for the update. It's been a while since We have used the S3 part but I'll make sure it's working in uploader.

—
Josh

On Wed, Apr 1, 2015 at 6:05 PM, Kevin Collignon <notifications@github.com>
wrote:

[2015-04-27 09:56] ahmed1490 opened #61 "Is it safe to send awsaccesskey ?"
As part of the sign request an awk accesskey is sent to client.
I am afraid if someone can get hold of the key and use it to for eg, replace all files.

[2015-04-27 16:57] #54 closed

[2015-04-27 16:58] digitaltoad commented on #54
If you still have problems, let me know.

[2015-04-27 16:58] digitaltoad commented on #53
Let me know if you still need help with this.

[2015-04-27 16:58] #53 closed

[2015-04-27 16:59] #26 closed

[2015-04-27 17:01] digitaltoad commented on #61
I'm actually going to explore this more. When I initially implemented the S3 functionality, I took note from other libraries. I'm not so sure this is indeed the best way to do this. I will note that the access key used should not be one of root or a user with any roles outside of the ones needed to save a file.

[2015-04-27 18:44] lfridael commented on #35
[code]

[2015-04-27 18:53] lfridael commented on #35
@digitaltoad `Ember.$.ajaxPrefilter` works globally for every Ember/jQuery-initiated request. Sometimes you need to customize headers just for the upload request.

One solutions would be to create a hook in `EmberUploader.Uploader` to customize the settings passed to `Ember.$.ajax`. This would cover more than just request headers.

[code]

[2015-04-28 12:48] ahmed1490 commented on #61
@digitaltoad Can you share what libraries do similarly?

[2015-04-28 16:33] digitaltoad commented on #61
@ahmed1490 https://github.com/component/s3 is the first that comes to mind. I took inspiration from this library and its required https://github.com/component/upload to make ember uploader.

[2015-04-29 07:59] lolmaus opened #62 "Error event?"
Hi!

There are `progress` and `didUpload` event. What's missing is the `error` event.

[2015-04-29 18:10] DirkLachowski opened #63 "Usage question / ember-cli"
When following the steps in "Basic setup":
- install via bower
- create file-upload component
- add code as suggested

i get

when opening a route containing a file-upload component in its template.
Obviously i'm missing something.

[2015-04-29 18:13] digitaltoad commented on #63
Sorry are you using ember-cli?

[2015-04-29 18:18] DirkLachowski commented on #63
Yes, ember-cli 0.2.3

[2015-04-29 19:12] digitaltoad commented on #63
There is a cli addon for ember uploader called ember-cli-uploader. I would recommend using that as start as it includes this library. Next you must import ember-uploader anywhere you will be using it including extending the file component.

—
Josh

On Wed, Apr 29, 2015 at 2:18 PM, DirkLachowski <notifications@github.com>
wrote:

[2015-04-29 22:58] quaertym commented on #63
I could not find this addon before so that I had created https://github.com/quaertym/ember-cli-ember-uploader , now I see that it is not necessary anymore, I will redirect users to ember-cli-uploader and deprecate it.

:+1: Thanks for the great work.

[2015-04-30 09:22] DirkLachowski commented on #63
Doing

    npm install --save-dev ember-cli-uploader
    ember generate ember-cli-uploader

gets me

[2015-04-30 10:48] DirkLachowski commented on #63
Seems to be a doc thing, at least for ember-cli 0.2.3

I've changed

    npm install --save-dev ember-cli-uploader
    ember generate ember-cli-uploader

to

    ember install ember-cli-uploader

That throws an error:

I then manually ran

    ember generate ember-cli-uploader

and finally got a working addon.

[2015-04-30 14:41] digitaltoad commented on #63
I'll look into this. Mind creating a issue on that repo?

—
Josh

On Thu, Apr 30, 2015 at 6:48 AM, DirkLachowski <notifications@github.com>
wrote:

[2015-05-04 09:43] DirkLachowski commented on #63
Created as benefitcloud/ember-cli-uploader#2
Sorry for the delay.

[2015-05-07 04:48] jamiechong opened #65 "Import in Brocfile"
Your README should mention that this line is required in `Brocfile.js`

`app.import('bower_components/ember-uploader/dist/ember-uploader.named-amd.js');`

[2015-05-07 16:49] devinus commented on #65
:+1:

[2015-05-07 17:12] digitaltoad commented on #65
Are you asking for install details when using Broccoli or is this inside a ember-cli project? If its the latter, there is a ember-cli addon for ember-uploader.

—
Josh

On Thu, May 7, 2015 at 11:49 AM, Devin Torres <notifications@github.com>
wrote:

[2015-05-07 17:25] devinus commented on #65
Oh, very nice! I didn't see that.

[2015-05-12 23:09] Criten opened #68 "Naming files?"
Is there any way to set the name of a file when uploading to s3? If someone uploads a file the same time someone else is uploading a file of the same name but different content there will be a problem...

[2015-05-13 02:17] digitaltoad commented on #68
The best way to handle this is on the server side to make sure you have a unique filename beforehand.

—
Josh

On Tue, May 12, 2015 at 7:09 PM, Zachary Mattor <notifications@github.com>
wrote:

[2015-05-13 02:21] Criten commented on #68
I'm going directly to a3 from the browser, so i don't have control over the
user's file names.
On May 12, 2015 10:17 PM, "Joshua Borton" <notifications@github.com> wrote:

[2015-05-13 02:22] digitaltoad commented on #68
You are still signing though correct?

—
Josh

On Tue, May 12, 2015 at 10:21 PM, Zachary Mattor <notifications@github.com>
wrote:

[2015-05-13 02:24] Criten commented on #68
Yea, do I sign it with the filename I want on a3 somehow?
On May 12, 2015 10:22 PM, "Joshua Borton" <notifications@github.com> wrote:

[2015-05-13 04:32] Criten commented on #68
Looks like you can name the file by changing the name attribute in the data object. [s3.js](https://github.com/benefitcloud/ember-uploader/blob/master/packages/ember-uploader/lib/s3.js#L45) Maybe we should allow a function that generates a name to be defined on the component so when the s3 upload command runs it can set the name.

[code]

Let me know what you think and I can try implementing it :)

[2015-05-18 02:38] digitaltoad commented on #68
See #69

[2015-05-18 02:38] #68 closed

[2015-05-18 03:29] #61 closed

[2015-05-18 19:10] ahmed1490 commented on #61
Thanks @digitaltoad

[2015-05-19 22:02] joshpfosi opened #70 "Usage question"
Nevermind! Was being obtuse. Sorry for the spam.

[2015-05-19 22:06] #70 closed

[2015-05-19 22:06] digitaltoad commented on #70
Instead of just a path, a full URL should work here.

—
Josh

On Tue, May 19, 2015 at 6:02 PM, Joshua Pfosi <notifications@github.com>
wrote:

[2015-05-19 22:08] joshpfosi commented on #70
Yes, thanks for the incredibly fast response. I just put it together!

[2015-05-19 22:09] digitaltoad commented on #70
Just a FYI, I haven’t updated the wiki yet, but its much easier to use the aws-sdk gem to do the signage instead of hand rolling it as the wiki would have you do.

—
Josh

On Tue, May 19, 2015 at 6:08 PM, Joshua Pfosi <notifications@github.com>
wrote:

[2015-05-21 10:34] holyxiaoxin commented on #65
I've tried following readme and still can't get it to work. I've even tried all the threads in the whole of issues.

But I'm getting this error:

```Uncaught Error: Could not find module `ember-uploader` imported from `~/components/file-upload````

[2015-05-21 19:51] mike183 commented on #62
Looks like it triggers a `didError` event when the XHR request fails, see [line 92 of uploader.js](https://github.com/benefitcloud/ember-uploader/blob/ea18d3ef346181f29e581562b24e3d6f434e1189/packages/ember-uploader/lib/uploader.js#L92)

[2015-05-22 16:16] digitaltoad commented on #62
Thank you for replying to this @mike183. Closing for now. If there is a problem using this event, please let me know @lolmaus.

[2015-05-22 16:16] #62 closed

[2015-05-23 07:56] tibotiber commented on #23
Hi! Has the readme been updated now? I'm trying to use this as follow:
[code]
but the FormData object is always empty (I logged it to check its content just before submitting `return this._ajax(settings);`) in your code.
Any idea? Thanks.

[2015-05-23 08:03] tibotiber commented on #35
+1 on @lfridael's hook idea. Seems the most elegant! :)

[2015-06-01 17:16] aloha202 opened #73 "ReferenceError: EmberUploader is not defined"
Hey guys
I installed the cli version and after adding a component i have this error: ReferenceError: EmberUploader is not defined
Can anyone help me with it? i think this should be simple
Thanks in advance

[2015-06-01 18:22] #73 closed

[2015-06-02 19:45] nextekcarl commented on #35
I'm in the same boat here. Don't want to modify all the request headers globally.

[2015-06-03 22:40] arinhouck opened #74 "When passing extra parameter no access to name in params"
I am currently calling the upload function within ember as specified and adding one extra parameter called template. However the file array doesn't pass anything but tempfile/content. I don't have access to each file name which I need.

Looks similar to this:

[code]

[2015-06-03 23:43] arinhouck commented on #74
Found out that the hash was just so large i couldn't see the weird setup. I had to do this to find.

[code]

[2015-06-03 23:50] #74 closed

[2015-06-05 11:36] akshayrawat opened #75 "Any plans for drag and drop support?"
It would be really useful to have Drag & Drop support. Are there any plans for it?

[2015-06-06 02:39] digitaltoad commented on #75
I feel like this is probably outside of the scope of uploader. Even the file component seems like it should be somewhere else. After fixing some of the outstanding issues, I've had thoughts about throwing out another ember cli library that uses ember uploader but has all the UI bells and whistles to help people get moving faster.

[2015-06-09 13:55] santosh1994 opened #76 "can i send other params along with file??"
@digitaltoad

[2015-06-09 14:09] digitaltoad commented on #76
The ```upload``` method takes a file argument and a parameter object literal argument that is then combined before the upload takes place.

[2015-06-09 14:25] santosh1994 commented on #76
then how can i access it on server side

On Tue, Jun 9, 2015 at 7:39 PM, Joshua Borton <notifications@github.com>
wrote:

[2015-06-09 15:36] digitaltoad commented on #76
https://github.com/benefitcloud/ember-uploader#change-namespace you can specify the parameter namespace and the parameter name for the file. Any extra data added via the object literal will use the keys as the parameter names. If a namespace is provided the data will be nested within that parameter namespace.

[2015-06-09 15:37] #75 closed

[2015-06-09 15:37] #63 closed

[2015-06-09 15:40] digitaltoad commented on #35
I'm thinking that extracting user definable ajax settings that are then merged with the request is probably the best route for this. What do you guys think about this?

[2015-06-09 22:29] nextekcarl commented on #35
That sounds exactly like what I need.

[2015-06-10 05:48] santosh1994 commented on #76
is there a option to cancel a upload request. If upload is on progress??

On Tue, Jun 9, 2015 at 9:06 PM, Joshua Borton <notifications@github.com>
wrote:

[2015-06-10 05:50] santosh1994 commented on #76
can i specify the file type in component so that other type of files will
not be able to select

On Wed, Jun 10, 2015 at 11:18 AM, Santosh santu <
santosh.siddarth123@gmail.com> wrote:

[2015-06-13 12:12] digitaltoad commented on #76
You'll have to handle that before upload.

[2015-06-13 12:15] digitaltoad commented on #23
FormData cannot be inspected or logged per say. Check your server side instead.

[2015-06-15 18:33] arinhouck opened #78 "Forcing files to be UTF8 format"
I am currently sending my file to rails server and every time it comes in ascii format. I tried formatting in rails but it keeps emptying the contents of the file. Is there a way in the ember-uploader to force files to be sent out in the uploader ajax response to be utf8 format?

[2015-06-15 18:36] #76 closed

[2015-06-15 20:49] quaertym commented on #65
This can be closed I guess.

[2015-06-15 20:51] #65 closed

[2015-06-16 16:29] joshuairl commented on #35
:+1:

[2015-06-24 03:25] digitaltoad commented on #35
Guys checkout 721e0601c2e770f4e57001aea564282d0baf516f and let me know if this works for you.

[2015-06-30 18:27] digitaltoad commented on #35
Still looking for some feedback on 721e060

[2015-06-30 19:56] nextekcarl commented on #35
It looks good to me, though I had to write my own method for uploading files because of deadlines, so I won't be able to test this method myself.

[2015-07-06 08:53] NeoKuro commented on #73
Hi, how was this solved? I have the same issue, I've installed the dependencies (using bower), however it is giving me this error?

[2015-07-06 23:57] digitaltoad commented on #73
You must import EmberUploader to use it.

```import EmberUploader from 'ember-uploader';```

[2015-07-07 03:54] #35 closed

[2015-07-19 03:31] drewbaker opened #81 "Add ability to set headers"
You can't use this addon with any sort of authorization header, because you don't allow the user to modify the AJAX request payload. It would be nice if you allowed us to modify that.

[2015-07-19 15:05] digitaltoad commented on #81
https://github.com/benefitcloud/ember-uploader/commit/d5a7c93c09749a6894bfc26c26473ab8813b788e

—
Josh

On Sat, Jul 18, 2015 at 11:31 PM, Drew Baker <notifications@github.com>
wrote:

[2015-07-30 23:34] filipecrosk commented on #81
Hi @digitaltoad how to set this headers on my component?
I tried this:
[code]
But doesn't work.

[2015-07-31 00:19] digitaltoad commented on #81
Try this instead.

[code]

[2015-07-31 00:19] #81 closed

[2015-08-05 06:53] vikingmute opened #83 "How to use ember-uploader with express 4?"
Hey,
I am using this with express 4, the plugin works fine.
but in my express endpoint, can't find the files I've been uploaded

I keep getting undefined for req.files, any idea?

[2015-08-10 00:30] digitaltoad commented on #83
Sorry I haven't responded back to this. Are you still having trouble? What does your Uploader code look like?

[2015-08-10 02:05] vikingmute commented on #83
@digitaltoad it seems there might be a bug with multer, your code should works fine. More details : https://github.com/expressjs/multer/issues/193

[2015-08-10 02:05] #83 closed

[2015-08-27 00:10] variousred opened #84 "S3 Delete"
This library used to have an asset delete function for s3 didnt it? How can that be accomplished now?

[2015-08-27 01:23] variousred commented on #38
@digitaltoad i'm still getting this issue with 0.3.9 ... not sure why

[2015-08-27 01:33] variousred commented on #38
```if (Ember.isArray(files)) {``` never returns true. The upload method is only passed a single file at a time with ```uploader.upload(files[0]); // Uploader will send a sign request then upload to S3```

[2015-08-27 01:48] variousred commented on #61
Its not really a big deal, see:
http://www.a2sdeveloper.com/page-do-i-need-to-keep-my-aws-access-key-id-secret.html

[2015-08-27 01:54] variousred opened #85 "S3 Multi Upload"
sort of related to https://github.com/benefitcloud/ember-uploader/issues/38
where i've made a couple comments

[2015-08-27 01:54] variousred commented on #85
@digitaltoad i'm still getting this issue with 0.3.9 ... not sure why. I'm using the S3Uploader
 @variousred

variousred commented 21 minutes ago
@digitaltoad if (Ember.isArray(files)) { never returns true. The upload method is only passed a single file at a time with uploader.upload(files[0]); // Uploader will send a sign request then upload to S3

[2015-08-27 20:25] variousred commented on #84
This is what i'm doing now
[code]

[2015-08-27 21:44] digitaltoad commented on #84
I don’t think I’ve ever had a delete function for it.

—
Josh

On Thu, Aug 27, 2015 at 4:25 PM, Michael Mitchell
<notifications@github.com> wrote:

[2015-08-27 21:45] digitaltoad commented on #85
Multi uploads have always been a sore spot with this library. I don’t think I’ve ever fully supported multi file uploads with S3. I can look into though.

—
Josh

On Wed, Aug 26, 2015 at 9:54 PM, Michael Mitchell
<notifications@github.com> wrote:

[2015-08-27 23:09] variousred commented on #85
Dont know why I didnt think of this yesterday, but a fix was easy enough:
[code]
just call the uploader once for each file iteratively

[2015-08-27 23:29] digitaltoad commented on #85
That was my initial fix.

—
Josh

On Thu, Aug 27, 2015 at 7:09 PM, Michael Mitchell
<notifications@github.com> wrote:

[2015-08-27 23:40] variousred commented on #85
Though it works well enough, doesn't feel quite right since uploader#upload is designed to handle an array of files

[2015-08-27 23:42] digitaltoad commented on #85
I would like to handle it a bit different. The problem arises over progress and the expectation around per file or per request events. It could be configurable.

—
Josh

On Thu, Aug 27, 2015 at 7:40 PM, Michael Mitchell
<notifications@github.com> wrote:

[2015-09-11 17:06] strukturedkaos opened #87 "Uploading to S3 Bucket names with periods like "cdn.company.com" fail over SSL"
When attempting to upload to S3 over SSL with a bucket name that has periods like "cdn.company.com", the url needs to be s3.amazonaws.com/bucket_name to match SSL certificate. The upload fails with a different error depending on the browser.

Old but relevant post: http://shlomoswidler.com/2009/08/amazon-s3-gotcha-using-virtual-host.html

It manifests as a SSL certificate issue on Safari:

![](htt

[2015-10-04 06:18] chaitanyya opened #88 "Is it possible to use custom button instead of the existing form element."
I have a template designed and I don't want to mess up with it. Is it possible to bind it with existing HTML element? like by adding an ember action or something?

[2015-10-05 21:20] digitaltoad commented on #88
I've found it best to just style the file input to look like a button.

—
Josh

On Sun, Oct 4, 2015 at 2:18 AM, Chaitanya Choudhary
<notifications@github.com> wrote:

[2015-10-27 18:19] #88 closed

[2015-10-27 18:20] #87 closed

[2015-10-27 21:41] gsilis opened #90 "Min files removed"
https://github.com/benefitcloud/ember-uploader/commit/36234d2f76e281d93c3e2f995c1d70302f43ddd6 removes the minified files in `dist`. Is that an intentional change?

[2015-10-27 21:52] digitaltoad commented on #90
That was not :(

I'll get it fixed in a few.

[2015-10-27 23:11] digitaltoad commented on #90
Fixed in 387326aa8fabedbbd4c2c17dcf925e762c6b9fcc

[2015-10-27 23:11] #90 closed

[2015-10-28 14:22] gsilis commented on #90
Thanks for the fix!

[2015-11-09 16:12] lazybensch opened #91 "S3 enctype"
Hi, I want to use ember-uploader to upload an image directly to S3, i copied the code from your README and signing with rails works fine, but when the component `POST`s the file to aws i get:
[code]
in a form submit i would set the enclosure-type like this: `<form enctype='multipart/form-data' ...>` How am I doing this for ember-uploader?

what i tried so far was overwriting the `ajaxSettings` met

[2015-11-21 17:00] PowerP opened #92 "Not working in IE and Firefox"
Hi,

I'm struggling to get ember-uploader to work in IE and Firefox. It works fine in Chrome but in IE and FF it does not open the Filepicker window and just reloads the app without a error. Is there any known issue?

my component:

[code]

and how i use it:
[code]

Any Idea?

thx

[2015-11-21 22:08] digitaltoad commented on #92
First, what versions of Firefox and IE are you testing with? Can you enable "Pause on Exceptions" in the Firefox debugger and let me know if you catch anything?

[2015-11-22 21:47] digitaltoad opened #93 "Deprecate ember-cli-uploader in favor of native cli support in ember-uploader"
I'm looking for feedback on this. It doesn't make sense to me with the current Ember ecosystem to not have ember-cli support built into the base library.

[2015-11-22 23:17] quaertym commented on #93
I agree. :+1:

[2015-11-23 11:20] PowerP commented on #92
Hi,

thx for the quick response. Was able to fix it but I'm not sure what is the problem. I simple changed this:

[code]

to this
[code]

the css class seams to be the problem:
[code]

[2015-11-23 20:47] digitaltoad commented on #92
Yes that would do it. I'm glad you figured it out.

[2015-11-23 20:47] #92 closed

[2015-11-23 21:49] digitaltoad commented on #91
The guide in the wiki is a bit outdated. I now recommend instead using the http://www.github.com/aws/aws-sdk-ruby for signing. Did you get this figured out?

[2015-11-24 23:40] varblob commented on #91
I'm actually poking at this at the moment, do you have an updated guide by any chance?

[2015-11-25 00:00] digitaltoad commented on #91
I don't but I was messing around with it earlier today. Something like the following should work.

[code]

[2015-11-25 00:16] varblob opened #94 "S3 Integration"
I'm attempting to get S3 working and am struggling a bit.  It looks like perhaps things have changed.

Here is what I have for signing at the moment still getting 401 forbidden but that could be something else.

    bucket_name = "bucket_name"
    bucket = Aws::S3::Resource.new(region: 'region').bucket(bucket_name)
    @s3_direct_post = bucket.presigned_post(
      key: "path to where you want to

[2015-11-25 00:22] digitaltoad commented on #94
You are getting a 401 from the sign?

[2015-11-25 00:26] varblob commented on #94
Sorry 403 from attempting to upload.

[2015-11-25 00:28] digitaltoad commented on #94
What is the body of the error?

[2015-11-25 00:30] varblob commented on #94
Not very informative

    <Error>
    <Code>AccessDenied</Code>
    <Message>Access Denied</Message>
    <RequestId>......</RequestId>
    <HostId>........</HostId>
    </Error>

[2015-11-25 00:42] digitaltoad commented on #94
Seems like it may be related to something like this. https://forums.aws.amazon.com/thread.jspa?threadID=56531

[2015-11-25 00:44] varblob commented on #94
Thanks for your help, I think I need to fix my policy file for the user.  I'll let you know if it all works out.

[2015-11-25 00:45] digitaltoad commented on #94
That being said. I don't think there is anything wrong with how you are currently generating the policy rather there is something wrong with the aws user's rights.

[2015-11-25 00:49] varblob commented on #94
yup user needed to have his rights updated, success!  I'm leaving this issue open since the original bit maybe of use to others.  If I have time next week I'll try and make a pull request for the documentation.

[2015-11-25 00:52] digitaltoad commented on #94
I may get to the documentation before that. I'm currently in the process of updating the outdated parts of the library including making the base library ember-cli compatible so the wrapper can be deprecated. Updating the docs around signing was on the list.

[2015-11-25 00:55] varblob commented on #94
most awesome!  thanks again for your help and for the lib.  I renamed this issue to reference documentation.

[2015-11-28 20:34] sevab commented on #91
`obj.url` throws a `NoMethodError` in 'aws-sdk', here's a corrected version:
[code]

[2015-11-28 21:05] digitaltoad commented on #91
Ah thank you!

[2015-12-04 05:10] ksykulev commented on #91
Also getting this error, for some reason the the `Content-Type` header in the request is not being set correctly..
[code]
When I manually create the form as html with all the data passed back from the sign request, and submit it as a full postback it uploads to s3 properly. Weird.. any ideas?

[2015-12-04 18:56] digitaltoad commented on #91
Any possibility of seeing the code surrounding this?

[2015-12-05 15:59] ksykulev commented on #91
@digitaltoad - Let me extract the relevant code into an ember app to share with you.

[2015-12-05 18:47] ksykulev commented on #91
@digitaltoad - here is a sample ember app: https://github.com/ksykulev/extracted-file-upload
Let me know if this helps..

[2015-12-06 21:50] digitaltoad commented on #91
Content-Type is set to false in the uploader.

[2015-12-07 12:27] lukeclewlow commented on #91
Is there any way to override this? I am having the same error.

[2015-12-07 16:16] lukeclewlow commented on #91
Found a way to over-ride, but seems this wasn't the problem. Leads me to get a 400 error -
[code]

[2015-12-07 16:32] digitaltoad commented on #91
That error is caused by overriding the content type.

—
Josh

On Mon, Dec 7, 2015 at 11:16 AM, Luke <notifications@github.com> wrote:

[2015-12-07 16:44] lukeclewlow commented on #91
So content-type should be set to text/plain;charset=UTF-8 when sending the POST request to S3?

[2015-12-08 05:53] digitaltoad commented on #91
@ksykulev what browser are you testing in?

[2015-12-08 11:16] ksykulev commented on #91
@digitaltoad - Chrome 47.0.2526.73

[2015-12-09 01:09] digitaltoad commented on #91
There seems to be a bug in jQuery 2.1.4. Dropping back to jQuery 2.1.3 everything starts working for me. @lukeclewlow although the contentType setting for ajax is intended to be set to false as required by jQuery in order to prevent jQuery from automatically setting a content type, it should not be text/plain and instead should be multipart/form-data.

[2015-12-09 10:01] lukeclewlow commented on #91
Thanks for looking into this @digitaltoad, however, dropping back to jQuery 2.1.3 doesn't seem to change anything for me. I am set up exactly how you suggest in the github readme, with jQuery 2.1.3 but still my request to amazon is sent as:

    Content-Type: text/plain;charset=UTF-8

So this should be automatically set by the browser?

[2015-12-09 18:29] digitaltoad commented on #91
Embarrassing false positive. I’ll look at this more. The content-type should not be text/plain.

—
Josh

[2015-12-09 20:24] digitaltoad commented on #91
Pretender is the culprit with this example app. I commented it out apparently at the same time that I changed the jQuery version which is why I couldn't see anything that would have changed in jQuery to cause this to fail.

[2015-12-10 09:08] lukeclewlow commented on #91
Ah this is also the case for me. I am using ember-cli-mirage which uses pretender, to mock out my back end response. But this means you have to passthrough to reach Amazon. I get past this error if I don't use pretender/mirage. Thanks for all your help @digitaltoad.

[2015-12-10 09:20] lazybensch commented on #91
yeah, thx @digitaltoad. at least i know where to troubleshoot now.
@lukeclewlow if you find a way to get this working with mirage, i would be grateful if you share your experience :D

[2015-12-10 17:17] digitaltoad commented on #91
I actually just ran into this same issue working on the newest version of
uploader using mirage for testing. I assume the problem is that mirage
intercepts the request and although it is set to pass through, it does not have
access to the FormData contents like the browser does so the object is sent as
is. You may be able to mock out an object that allows you to parse the data back
out in mirage b

[2015-12-22 23:57] wanxie opened #95 "Unexpected field when using multer with express"
![screen shot 2015-12-22 at 3 48 59 pm](https://cloud.githubusercontent.com/assets/15738463/11968687/c1a0eec4-a8c3-11e5-8e0c-9eed88f7e6c3.png)

How do I remove [0] and [1] in name="file[0]" and name="file[1]" when uploading multiple files at the same time? Multer expects the fieldname to be just name="file" for all files when using multer().array('file', 2).

[2015-12-23 01:50] digitaltoad commented on #95
This is a bug. Thank you for catching it.

[2016-01-04 23:15] digitaltoad commented on #95
I'm working on fixing this in the [1.0.0-cleanup](/benefitcloud/ember-uploader/tree/1.0.0-cleanup) branch.

[2016-01-10 01:25] movstox opened #96 "Upload canvas data to S3 (after image crop)"
Hi all,

This is not an issue, though I'm looking for advice if it's possible to upload 'canvas data' (i.e. after image crop using HTML5 Canvas) to S3...

I can try submitting a pull request though need some help on where to look for solution.

Many thanks!

[2016-01-11 11:40] orf opened #97 "Use ember-ajax"
Hey there,
Adding new headers and generally configuring the ajax requests is a bit annoying in this library, is it possible to use the standard `ember-ajax` library (and use the `ajax` service) instead?

[2016-01-11 22:11] digitaltoad commented on #97
I'm working on some changes to this area in [1.0.0-cleanup](/benefitcloud/ember-uploader/tree/1.0.0-cleanup). Right now, although I require overriding the `ajaxSettings` method, the returned settings are just passed directly to jQuery.ajax.

[2016-01-12 06:52] talhaobject90 commented on #81
Sorry , i am a newbie to ember , and i came using this addon. It's cool and was fitting my requirement well.

I am using ember-simple-auth with devise in rails .
I can't set the token in header . I couldn't figure out how to integrate the above code you gave. Unfortunately i am using ember-cli-uploader. please help.

[code]
[code]
Those commented lines were my attempts, Immediate help will be appr

[2016-01-14 05:34] talhaobject90 opened #98 "Cannot sent Token to rails api with devise (ember-cli-uploader)"
Sorry , i am a newbie to ember , and i came using this addon. It's cool and was fitting my requirement well.

I am using ember-simple-auth with devise in rails .
I can't set the token in header . I couldn't figure out how to integrate the above code you gave. Unfortunately i am using ember-cli-uploader. please help.

[code]
[code]
Those commented lines were my attempts.

I really love to use this

[2016-01-14 17:13] digitaltoad commented on #98
In Ember you must extend to override a method. Basically just replace `.create` with `.extend` and then add a `.create()` at the end if you want to setup the uploader in a single go. Let me know if this helps.

[code]

[2016-01-14 17:17] digitaltoad commented on #96
I've actually never looked into this but I assume its pretty close to what I have in the tests to create a file on the fly. Take a look at [uploader_test.js](https://github.com/benefitcloud/ember-uploader/blob/master/packages/ember-uploader/tests/unit/uploader_test.js#L6-L13) to see if this helps.

[2016-01-14 23:21] quaertym commented on #96
You can get canvas image as data and then convert it to blob. Once you have the blob you can upload it to S3.
[code]

[2016-01-15 08:20] talhaobject90 commented on #98
@digitaltoad  ,
It works great. Thanks.

[2016-01-15 10:50] vasilakisfil opened #99 "ember 2.2 fails to start concat_with_maps-input_base_path"
Just installed this addon but I get this error:
[code]

Ember 2.2, ember-cli 1.13.14, ember-uploader 0.3.11

What could be wrong ?

[2016-01-15 10:52] vasilakisfil commented on #99
Just installed bower install ember-uploader --save and works :+1:
Why we need bower package apart from ember-cli package ?

[2016-01-15 10:52] #99 closed

[2016-01-19 01:42] #98 closed

[2016-01-20 18:48] #96 closed

[2016-01-21 15:37] hotterd commented on #97
Also hit the issue when I try to upgrade Ember Simple Auth to 1.0, which requires all ajax requests to be authorized manually. This seems difficult in the case of ember-uploader. Hope there is a way to work around it.

[2016-01-21 15:50] digitaltoad commented on #97
Right now I'm giving full access to the ajax settings before they are used. Anything that you would need to setup could be done by overriding `ajaxSettings`.

[code]

[2016-01-21 15:55] hotterd commented on #97
@digitaltoad thanks, I'm just digging into source code and just understood the way above.

[2016-01-21 15:57] digitaltoad commented on #97
I'm working on ways to handle this but I'm still not sure the best way. I know many things are changed commonly but I still want the full access if necessary.

[2016-01-26 18:35] erichonkanen opened #100 "Use the uploader from a controller"
Hello,

I am currently using this as a component but I also have a use case where I want to use the EmberUploader.Uploader.create directly in a controller for a modal... is this possible?

Im adding the import to the top of my controller but it's not available in my controller...

`import EmberUploader from 'ember-uploader'`

[2016-01-26 20:09] digitaltoad commented on #100
As long as you have imported it you should have access to it via `EmberUploader`. There isn't anything that makes this specific to one or the other.

[2016-01-26 20:46] erichonkanen commented on #100
Ok yeah then something strange is going on... I am importing it just like that and it's not available from inside my controllers action...

[2016-01-26 20:53] digitaltoad commented on #100
Do you have any example code you could show me?

[2016-02-05 19:59] nonovd commented on #97
Hi @digitaltoad

Where would you override ajaxSettings ? I did this is the file-upload component :

[code]
and I get this error:

Thanks

[2016-02-05 20:02] digitaltoad commented on #97
You can only override on extend.

[code]

[2016-02-05 20:37] nonovd commented on #97
Thank you very much, it works well:
[code]

[2016-02-05 21:39] #97 closed

[2016-02-24 07:09] talhaobject90 commented on #98
Hi Again, May i know how to reset the file input in the controller after uploading the file?

I guess i should put the code here..

[code]
Thanks

[2016-02-24 19:06] digitaltoad commented on #98
Either empty the value for the file field or recreate the input. I've done this before where when uploading, the input is not shown and instead a progress bar is shown.

[2016-02-25 03:45] talhaobject90 commented on #98
Thanks,

could you give me any code samples, to see how to implement it. i couldn't figure out it. sorry.

Also i tried setting up the progress bar, but it went 100% instantly. I tried fixing it . but had no luck

If you provide me some sample code how you implemented reseting the file inputs and done that progress bar, that would be helpful(the documentation is not enough for newbies in ember :))

[2016-02-29 06:07] ekampp opened #102 "Getting `Could not find module ember-import`"
Hi.

I'm new to this ember stuff, so bare with me.

I'm trying to follow the guide in the Readme, trying to get ember-uploader to work on an ember 2.3 project.

When I create the file-upload component, and add this code:

[code]

Then I get this error in the console:

[code]

I have installed the [ember-uploader from the cli project](https://github.com/benefitcloud/ember-cli-uploader).

I'm guessi

[2016-02-29 18:05] villander commented on #102
@ekampp i have the same issue :(
My acceptance test say: `Error: Could not find module `ember-uploader` imported from `remoto/components/file-upload/component``

[2016-02-29 18:14] villander commented on #102
@ekampp i have the same problem. But solved like this:

[code]

[2016-02-29 18:46] villander commented on #102
@digitaltoad i have added this information to the repository `ember-cli-uploader` follow my pull request

https://github.com/benefitcloud/ember-cli-uploader/pull/10

[2016-02-29 20:40] ekampp commented on #102
Nice. Thanks @villander! :heart:

[2016-02-29 20:40] #102 closed

[2016-02-29 20:43] digitaltoad commented on #102
I think these issues are related to the fact that I haven't updated this add on for Ember 2.x yet. I have a branch going that should resolve these issues but its been a while since I was able to work on it.

[2016-02-29 20:45] villander commented on #102
@digitaltoad i think that no, this issues are related with `ember-cli` >= 1.3

[2016-02-29 20:45] digitaltoad commented on #102
Thank you @villander

[2016-03-11 06:35] lazybensch commented on #91
i can confirm that it is a problem with mirage and @digitaltoad's last comment solves the issue.
i think you can close this issue =)

[2016-03-14 22:26] #91 closed

[2016-03-17 14:06] fr0gs opened #103 "Upload the same image twice"
There is no straightforward to upload the same image twice. Despite being a little bit nonsense, the scenario is not taken into account.

[2016-03-19 04:02] digitaltoad commented on #95
This should be fixed in the latest master.

[2016-03-19 04:02] #95 closed

[2016-03-19 04:04] digitaltoad commented on #103
Unless it has changed, I think the most recommended way to do this is to recreate the field upon upload. I'm not sure the JS route will work everywhere.

[2016-03-19 04:18] digitaltoad opened #105 "Allow nesting extra data sent with upload."
Uploader currently only allows flat data to be sent with the upload.

[2016-03-19 04:18] digitaltoad commented on #34
This should be done in the current master.

[2016-03-19 04:18] #34 closed

[2016-03-19 04:19] digitaltoad commented on #48
For nesting follow #105

[2016-03-19 04:19] #48 closed

[2016-03-19 04:21] digitaltoad commented on #93
Current master is now a first class ember-cli add on.

[2016-03-19 04:21] #93 closed

[2016-03-19 09:23] fr0gs commented on #103
No worries, it was for a small use case either ways.
El 19/03/2016 05:04, "Joshua Borton" <notifications@github.com> escribió:

[2016-03-19 20:39] #103 closed

[2016-03-19 20:41] digitaltoad commented on #100
I think this was most likely a issue related to having to manually import ember-uploader via the `ember-cli-build.js`. I'm closing for right now as the newest version should just work.

[2016-03-19 20:41] #100 closed

[2016-03-19 20:42] digitaltoad commented on #51
Now using a component instead of extending `Ember.TextField`

[2016-03-19 20:42] #51 closed

[2016-03-19 23:46] erichonkanen commented on #100
@digitaltoad ah forgot about this but I figured it out thanks!

[2016-03-21 20:14] adrianricardo opened #107 "duplicate uploads"
On first upload, my image uploads just fine. When I upload my second image, the first image is re-uploaded (along with the second image I selected).

Gist - https://gist.github.com/adrianricardo/dd97dbb1767983f5aa16

Is there a way to clear out the selected images after being uploaded?

[2016-03-21 20:18] digitaltoad commented on #107
The easiest way that will work in the most browsers is to recreate the file input on successful upload.

[2016-03-22 14:51] mikeLspohn commented on #105
I'm trying to figure out how to send extra data along with the file in the request to the api endpoint I'm uploading files to. Is there a way to add data to the payload being sent? If so, could a small example be shown in the docs?

[2016-04-05 22:31] aalpizar opened #108 "Send JSON payload not working"
I'm trying to send data along with the url by extending Uploader and then creating it (I've seen this done in other issues). So I attempted to do something like this, but it is not sending the data correctly (400: Bad Request error). Is this the right syntax or am I missing something?

[code]

[2016-04-05 22:35] digitaltoad commented on #108
Since Ember Uploader is using FormData, you would not be sending JSON with the request. Instead you will add extra data at the `upload` method.

[code]

[2016-04-05 22:49] aalpizar commented on #108
I tried that, still get this error `ember.debug.js:33408 Error: INTERNAL SERVER ERROR
    at __exports__.default.Ember.Object.extend.didError (ember-uploader.named-amd.js:235)`

when I step through the code, `data` seems to always be an empty `FormData` object.

[2016-04-05 22:53] digitaltoad commented on #108
You cannot inspect `FormData` unless you are on Firefox using the `.entries` method. Can you inspect what your server side is receiving?

[2016-04-05 23:05] aalpizar commented on #108
Would there be another way to send the data as FormData? Or it has to be like this `uploader.upload(file[0], {id: id})`

[2016-04-05 23:17] digitaltoad commented on #108
It is like this because Ember Uploader is taking the object literal and appending it to the `FormData` object it creates for the upload request so that the file and data are sent at the same time. You could override `.createFormData` on the uploader to get access to the formData object and append data there but in that case, you are doing exactly what would have already been done for you using the

[2016-04-06 17:50] aalpizar commented on #108
So I'm passing in the data using the `uploader.upload(file[0], {id:id})` because you are right, there is not point in overriding the `.upload` method. So this is the way I create the uploader
[code]

This is what my payload data looks like in Chrome Dev Tools

[code]

The server side has the file, but doesn't have the payload data.

[code]

[2016-04-06 18:55] digitaltoad commented on #108
Assuming you are using Flask. You want to use `request.form` as this is like a normal form payload and not a JSON payload.

[2016-04-06 19:26] aalpizar commented on #108
Awesome, that did the trick. Thanks again (even though it wasn't really related to the uploader). You were a great help!

[2016-04-06 19:28] digitaltoad commented on #108
Not a problem. Glad I could help.

[2016-04-06 19:28] #108 closed

[2016-04-25 11:06] chrism opened #113 "Setting authentication headers issue"
Hi,

I've followed the example given to set headers

[code]

but my POST request still looks like this:

![image](https://cloud.githubusercontent.com/assets/35488/14781863/9d1b32a6-0ae5-11e6-8b6b-81b093984ce5.png)

I was expecting to see `Authorization: Bearer 123` added to that list.

The reason I need to do this is that Ember Simple Auth has changed to require explicit authorization of requests

[2016-04-25 11:24] chrism commented on #113
I'm sorry, I missed you can set the headers like this

[code]

Which works perfectly!

[2016-04-25 11:24] #113 closed

[2016-04-26 05:29] mcfiredrill commented on #53
Had the same issue...
I tried looping over the files and creating a separate uploader instance for each file, like you suggested.
Seems to be working well so far, thanks for the tip. 👍

[2016-04-26 13:19] fr0gs opened #114 "Duplicate uploads for pictures taken from the camera."
I came to narrow it down to this piece of code:

https://gist.github.com/fr0gs/080c484931c778fcb22b661a9b000e95

When I upload images from Documents or I take a video from the Camcorder I see chrome's **Data** memory in android settings not to increase until I afterwards save them via the Local Storage API.
However, when I take a picture from the Camera and I place breakpoint even before sending t

[2016-04-27 04:52] digitaltoad commented on #114
I haven't tested but my feeling is that `rerender` may be the problem here. My thought is that you are using `rerender` to possibly reset the file input and if that is the case, instead, create a new input each time as this should ensure that it is cleared. If that isn't the case then let me know.

[2016-04-27 08:30] fr0gs commented on #114
Unfortunately not. The memory increase happens before the **rerender()**. Even when removing the rerendering memory increase still takes place.
Moreover, it can't be a file input reset issue because I've tried to perform a combination of inputs such as several taken from Documents, Camcorder, or alternating.
Memory increases/decreases behave as expected, but for pictures taken from the Camera an a

[2016-04-27 11:54] fr0gs commented on #114
I have been testing the uploads in a barebone ember application and seems that the
`<input id="file" type="file" accept="image//*" capture="camera">` of HTML5 itself behaves this way.

In a completely fresh app that shows nothing but a template and a little logic, I get the same results.
(simplified gist)

https://gist.github.com/fr0gs/b9496463d37f509ae03e65bcff65084d

Apparently the camera itself

[2016-04-27 20:56] digitaltoad commented on #114
Ok so this is a browser issue then?

[2016-04-27 21:08] fr0gs commented on #114
Seems to be, I found no issue in ember-uploader itself whatsoever.

[2016-05-05 12:54] cybernetlab commented on #99
Same problem, but `bower install ember-uploader --save` doesn't help in my case. And I've another error report:

[code]

[2016-05-05 15:42] cybernetlab commented on #99
Sorry - my mistake - I forgot to remove old `ember-cli-uploader` dependency from my `package.json`.

[2016-05-11 16:28] t0johnso commented on #63
If it's helpful, I had the same error initially. I had installed it while I was running my localhost/dev server. Once I restarted the ember-server it was fine. I think the localhost server didn't realize the new files were there yet.

TERMINAL:
I had already run ember-server
Ctrl+C to stop in terminal,
double-checked that i was in the right directory,
ember-server

[2016-05-28 00:24] andrei-sheina commented on #107
@digitaltoad any code example please?

[2016-06-05 00:37] GCorbel opened #117 "SignatureDoesNotMatch with S3"
Hello,

I followed the document to make the uploader working with amazon s3. He is the information on the request sent for signin :

[code]

And this is the request for upload
[code]

Here is my controlller :

[code]

What is my error? Thanks!

[2016-06-06 22:14] bradhaydon commented on #107
I would also appreciate a code example on how to recreate the file input.

[2016-06-07 13:21] digitaltoad commented on #107
This is a way that we have done it before.

[code]

[2016-06-07 13:31] digitaltoad commented on #117
Instead of doing everything by hand as I have in the documentation, I suggest using the `aws-sdk` which simplifies signing.

[code]

[2016-06-07 13:52] GCorbel commented on #117
I finaly used carrierwave. It's simple and it allows to resize and other treatments...

[2016-06-07 13:52] #117 closed

[2016-06-07 21:55] jamesarosen opened #118 "Use ember-ajax as base"
We have an application that uses Ember-Uploader and Ember-AJAX together. Because Ember-Uploader uses `Ember.$.ajax` directly, it doesn't take advantage of any global settings we've done in Ember-AJAX like headers and error-handling.

What do you think of swapping in Ember-AJAX for the transport? Because it's container-based, one change that would be required (or a workaround found) would be
[code]

[2016-06-07 22:01] digitaltoad commented on #118
I'm all for keeping up with what is current in Ember.

[2016-06-07 23:36] jamesarosen commented on #118
One thing to be careful of is that any time you create an object with `{ container: this.container }`, you need to be careful about tearing it down or you'll end up with a bad memory leak in test runs.

[2016-06-08 06:06] kjhangiani commented on #118
@jamesarosen Can you elaborate on that? I have used that pattern previously, and I was unaware of that possibility.  What is required to tear down an object like that properly?

[2016-06-08 21:56] jamesarosen commented on #118
I can! The issue is that the `EmberUploader.Uploader` instance has a reference to the `container`, which is a _huge_ graph. Nothing destroys the `EmberUploader.Uploader` instance. It's _possible_ it will get garbage collected when `filesDidChange` goes out-of-scope, but if anything else holds a reference to it, it definitely won't. This is more dangerous if you do something like
[code]
since then

[2016-06-09 07:02] ahakanergun opened #119 "Adding HTML accept attribute to component"
Hi, how can i add an input accept attribute to my file-uploader component.
I want to add .xlsx file accept attribute: accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"

`{{ file-upload accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"  }} `

didn't work.

[2016-06-10 00:12] digitaltoad commented on #119
Extend `EmberUploader.FileField` and add the accept attribute binding.

[code]

[2016-06-10 10:57] ahakanergun commented on #119
oh, thanks @digitaltoad it works. I could't think of it.

[2016-06-10 10:57] #119 closed

[2016-06-22 20:11] BreonKnight opened #120 "Usage Question"
My name is Breon. I'm Ember uploader for a project and I'm wondering a few things.
1) Inside my model I have:  avatar: DS.attr('string'). What is the correct way to store the photos?

2) inside my HBS template i have as reads: {{file-upload url="/upload"}. Do I need a specific value to pull this photo to my controller?

3) Inside the controller I have: var avatar = this.get('url'). Is this correct

[2016-06-28 15:10] digitaltoad commented on #120
I'm not totally sure what you are asking here.

[2016-06-28 16:32] BreonKnight commented on #120
literally asking when I use the ember uploader how do I pass it through to a controller

[2016-06-28 16:42] digitaltoad commented on #120
`{{file-upload files=files url="/upload"}}` will bind to controller `files` which can then be observed.

[2016-07-12 23:46] denisbetsi opened #121 "multiple : true <-- not making a difference"
Here's my ember cli version:

[code]

Here's the file-upload.js (component) snippet

[code]

Here's how it renders on the page:

[code]

[2016-07-17 22:48] digitaltoad commented on #121
I'll look at this as soon as I can.

[2016-08-05 18:43] bryanaka opened #123 "Issue Acceptance Testing Uploads"
I am trying to write acceptance tests against uploading files using this lib. I've gotten to the point where I can correctly simulate all of the users' actions, including generating a mock file.

The problem is here:
https://github.com/benefitcloud/ember-uploader/blob/master/addon/components/file-field.js#L10

For security reasons, you are not allowed to change the files of an input type:
http://s

[2016-08-05 18:58] digitaltoad commented on #123
I guess I'm not totally sure what you are trying to do when you say that you cannot change the files of an input type. I understand that you cannot dynamically set the files of an input but you can simulate it by bypassing the input or messing with the change event which I think is the route you have taken. I have some tests around the uploader and input that use a `Blob` instead of an actual file

[2016-08-07 18:27] bryanaka commented on #123
Yep, this is fine in Unit tests like what you have.

But in Acceptance Tests, you need to fire the event on some kind of DOM element. Since the component relies on the change event on the input element, this is where I get stuck.

Once I wrap up the tests in our app, I'll create a gist or twiddle to demonstrate what I mean in more detail.

[2016-08-09 07:31] aexmachina opened #124 "Minor issue with S3 documentation"
The [S3 Server Setup](https://github.com/benefitcloud/ember-uploader/wiki/S3-Server-Setup) doc on the Wiki shows the `def policy(options = {})` taking options, but these are ignored in the function. This argument is used in the `signature` function.

[2016-08-09 10:12] aexmachina opened #125 "S3 configuration"
I think that the following info should be added to the wiki:

---

## AWS Configuration

- Create an access key ID for the backend using
  [IAM](https://console.aws.amazon.com/iam/home#users) and record the Access Key ID and Secret Access Key
  - Add a policy to allow this user to access S3
[code]
- Create a bucket on [S3](https://console.aws.amazon.com/s3/home)
  - Enable CORS
[code]

---

I've a

[2016-08-09 15:02] digitaltoad commented on #124
I've been meaning to update the docs to use [aws-ruby-sdk](https://github.com/aws/aws-sdk-ruby) instead because it is much more straightforward.

[2016-08-09 15:04] digitaltoad commented on #125
I will be updating the docs soon to use [aws-sdk-ruby](https://github.com/aws/aws-sdk-ruby) instead of hand rolling the signing process. The Node.js version could be simplified by doing the same.

[2016-08-10 00:38] aexmachina commented on #125
Yes it looks like there’s some docs for it here
<http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-examples.html>
​

[2016-08-23 13:00] yuschick opened #126 "Basic Setup Not Generating Input Field"
I am looking to do the basic setup to upload one image to me 'assets/...' directory. I have installed ember-uploader and created the file-upload component. In the component JS file, I have copied the basic setup example, leaving out the optional second argument. When I include the component in my form, no field is generated. Any help would be great.

[2016-09-12 12:28] billdami opened #127 "Multiple files in a single request from multiple FileFields?"
My backend API has a requirement for a specific endpoint that I upload multiple files in the same request with the request parameter name for each file being explicitly set by the app to conform to a predefined format that the backend expects. Unfortunately, i can't use `multiple:true` in a single FileField, as this doesn't give me any control over how the files' parameters are named.

I'm thinkin

[2016-09-13 13:29] ArtemAlagizov opened #128 "How to access extra-data at the back-end"
Hi,

Could you please explain how do I extract extra data at the back-end?
I execute upload method in a controller like that:

[code]

What I see in request at my nodejs back-end is a huge message, that contains buffered image and bunch of other stuff, but I cannot seem to be able to locate my extraData. That is how the request looks like at the back-end:

[code]

Thank you!

[2016-09-14 00:32] digitaltoad commented on #128
Extra data uses w/e property keys you have given. In this case the parameter name on your backend would be `data`.

[2016-09-14 08:19] ArtemAlagizov commented on #128
So, at the back-end, should I go "request.data" to get it?
There is no such field in request as you can see above, so it returns undefined.

[2016-09-14 09:13] ArtemAlagizov commented on #128
I got the data through parsing form data of request using multiparty, you can close the issue!

[code]

[2016-09-14 09:16] #128 closed

[2016-09-28 18:48] marpo60 commented on #123
@bryanaka How about doing the following:

[code]

Would that work for you?

[2016-10-28 19:18] thedig commented on #123
Also interested in a way to do acceptance test upload simulation. Have tried to use `triggerHandler` to trigger the `change` handler with a Blob, but the lib does not appear to respect this as I think Ember.Evented doesn't respond. So instead, tried directly triggering the event `change` instead but in this circumstance there's no way to append a mock file to the FileList object that ember-uploade

[2016-10-31 00:12] digitaltoad commented on #123
I'm working on a small example project to help with this.

[2016-10-31 18:10] Yathi opened #130 "How to upload a file based on a dynamic URL and have a upload button? [Question]"
I do not want the ember uploader to call, `upload` method as soon as the file is selected. I want to be able to click a button and have the `upload` method be called. I also want to supply the _URL_ dynamically when the 'upload' button is clicked.

I am finding this a little hard to implement and if anyone could point me in the right direction, that wold be very helpful!

Thanks!

[2016-10-31 19:02] digitaltoad commented on #130
So as a contrived example.

#### app/routes/upload.js
[code]

#### app/components/file-field.js
[code]

#### app/templates/upload.hbs
[code]

[2016-10-31 19:10] digitaltoad commented on #126
Are you still stuck with this? Sorry for the late response.

[2016-10-31 19:10] digitaltoad commented on #127
Are you still stuck on this? Sorry for the late reply.

[2016-10-31 19:10] #120 closed

[2016-10-31 19:12] #114 closed

[2016-10-31 19:13] #107 closed

[2016-10-31 19:14] Yathi commented on #130
Thanks man! This was enough for me to get my code working!

[2016-10-31 19:15] digitaltoad commented on #105
This has been added to the docs in the basic setup section.

[2016-10-31 19:15] #105 closed

[2016-10-31 19:16] digitaltoad commented on #130
Glad I could help!

[2016-10-31 19:16] #130 closed

[2016-10-31 19:19] digitaltoad commented on #121
This should be fixed in the latest release.

[2016-10-31 19:19] #121 closed

[2016-10-31 19:19] #78 closed

[2016-10-31 22:01] yuschick commented on #126
No worries. I have since stopped looking at this so not actively stuck, no. If I dig back into it and hit the same snag I can let you know then. Thanks for getting back though!

[2016-11-01 15:46] #126 closed

[2016-11-02 12:57] czosel opened #132 "Custom template support"
First of all, thanks for this awesome addon!

I had the requirement to add custom styling to the `<input type="file">`, and it seems that currently the best way to do this is through hiding the `input` element and wrapping it with a `label`, which is then styled (see [this answer on SO](http://stackoverflow.com/a/21842275/1743938)).

I got this to work with ember-uploader by extending the usual `E

[2016-11-02 13:06] digitaltoad commented on #132
Why not just wrap the component? This is a template from one of our apps that uses `uploader`

[code]

[2016-11-02 13:41] czosel commented on #132
Of course - can't believe i didn't think of that.

Thank you!

[2016-11-02 13:41] #132 closed

[2016-11-15 21:53] Duder-onomy commented on #123
I am also running into this issue right now. Would be helpful to get some guidance. Thanks for the cool library!

[2016-11-17 17:10] pmaisonnave opened #133 "filesDidChange action not fired on iOS"
Hello,

I'm using ember-uploader and everything works great on windows and android !

However, on iOS (10.1.1 on iPhone ; I've not tested with older versions), when I click on the select button, I'm able to pick a picture from my phone's gallery (or to picture a new one) but when selected, nothing happens.

It seems that the filesDidChange action is not fired and I have no way to debug the javascr

[2016-11-18 00:42] digitaltoad commented on #133
I'll look into this. I actually haven't tested in mobile.

[2016-11-21 09:14] pmaisonnave commented on #133
Ok thanks.
Let me know when you have tested it.

[2016-11-21 15:36] ValentinTrinque commented on #84
Any update for this issue ?

[2016-11-21 19:56] digitaltoad commented on #84
I haven't had time to look into this.

[2016-11-30 09:29] ValentinTrinque commented on #84
Do you have any idea how you want to implement it ? I would be interested in participating.

[2016-12-01 18:31] shicholas opened #134 "How do you clear the input form in the fileDidChange function?"
It doesn't seem like there is a files property in the component that I could do something like:

[code]

Happy to write some docs on this issue if I know how to do this.

Thank you for this amazing library!

[2016-12-06 09:08] gobijan opened #135 "Breaks for me using Ember 2.10.0"
Hi I upgraded to ember 2.10.0 and the uploader supporting multiple files broke for me.
Is Ember 2.10.0 supported?

[2016-12-06 19:34] digitaltoad commented on #135
Multi file is still supported. Any examples?

[2016-12-07 05:31] joneath commented on #135
Looks like the latest version changed how `isArray` works with FileLists which is breaking multi file upload support (falling to the else case starting at line 91 of uploaders/base.js). https://github.com/emberjs/ember.js/pull/12708

[2016-12-07 05:45] joneath commented on #135
I've submitted a pull request here: https://github.com/benefitcloud/ember-uploader/pull/136

[2016-12-08 01:02] FutoRicky opened #137 "Upload file appended to data attribute"
Is it possible to send the file as an attribute property? For example:

[code]

[2016-12-08 06:18] gobijan commented on #135
To speed things up a bit (I need this in production):
https://github.com/benefitcloud/ember-uploader/pull/138

[2016-12-08 18:01] digitaltoad commented on #137
I haven't added this functionality. I'll take a look when I get time.

[2016-12-08 18:58] digitaltoad commented on #135
Fixed with 62959a692157a81a253727c415698c7622c51d69

[2016-12-08 18:58] #135 closed

[2016-12-09 15:29] ghost opened #140 "Initial Installation Fails"
Either the docs aren't clear enough or there is something breaking in Ember-Cli v2.10.

[code]

Component:
[code]

Template:
[code]

[2016-12-09 15:43] digitaltoad commented on #140
I'm not able to reproduce this. Any other information you could give on the problem?

[2016-12-09 20:27] mpash commented on #140
That is the extent of what I know. I'll try and create a new app and see if it works. Are you sure that is all I need to change for this work?

[2016-12-11 04:43] digitaltoad commented on #133
I'm currently not able to reproduce this. The `filesDidChange` method is called on both the simulator and actual hardware running 10.1.1. Any other info you could give me?

[2016-12-11 19:13] digitaltoad commented on #140
How have you installed the addon?

[2016-12-11 22:02] digitaltoad commented on #134
The easiest way to do this is to recreate the input. I've done this in the past by removing the input when a file is selected as well as showing a clear button.

[code]

You could also convert the `FileList` to an array and list the filenames/type or preview at this point. Let me know if this solves your issue.

[2016-12-13 00:50] mpash commented on #140
I called `ember install ember-uploader`, and created the component coded above, and added the template helper per the name of the component with the `url` property. Is there something I'm missing? Do I need to import something in my `ember-cli-build.js` with `app.import()`?

[2016-12-13 16:04] digitaltoad commented on #140
There is nothing else required. What version of `ember-uploader` are you using?

[2016-12-31 05:41] wanxie opened #141 "Support for an array of File object"
Before I can upload using an array of File object but now it doesn't work anymore. It seems like it changed to use the FileList object. This won't work when files are from different input tag.

Please add back the support for an array of File object.

[2017-01-13 15:51] #141 closed

[2017-01-19 12:42] 3tarazona commented on #137
Maybe I can take a look into this and submit a PR

[2017-01-24 07:18] javogel opened #142 "Translating string"
Is it possible to translate the strings for this component? If its not a feature of this addon, is there a workaround I could use?

I need to translate both the "Choose file" and  "No file chosen" strings.

btw, thank you for this great addon.

[2017-01-25 01:56] rbarbour opened #143 "S3 - The authorization mechanism you have provided is not supported."
I have set up my Rails API to return the appropriate response used to upload directly to AWS S3, but when I try to upload to S3, I get the below response back with a 400 error code.
<Code>InvalidRequest</Code>
<Message>The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256.</Message>
I am using the London, eu-west-2 region, and have added this to be returned in

[2017-01-31 03:38] alvarouribe opened #144 "Add tutorial to trigger from submit"
Guys could you create a readme area to explain how to upload only when a user clics on a submit button / action ?

[2017-02-02 14:45] jelhan commented on #123
[ember-cli-file-picker](https://github.com/funkensturm/ember-cli-file-picker) provides test helpers. You could mock a change event. Files could be mocked by Blob object and used as event target. But a mocked event having a custom target does not fire embers change event. It's only working in ember-cli-file-picker cause it [registers jQuery event handler](https://github.com/funkensturm/ember-cli-fi

[2017-02-06 20:07] Duder-onomy opened #145 "Cannot select same file twice with `file-field` component"
Great addon!

Right now, using the supplied `file-field` component you cannot select the same file twice.
In the sense that (assuming you have the code to support this)
* User selects a file
* Through the implementation, the user cancels that upload
* User remembers that in fact, that was the correct thing to do
* User try's to upload that same file again

Expected: The `filesDidChange` action to

[2017-02-17 11:11] jacsebastien opened #146 "The key for and array is "files[]" in place of "files""
I wonder why, when we upload multiple files, the request is like

`files[]:[{....},{...}]`

and not simply
`files:[{....},{...}]`

When I upload only one file everything works well but with multiple files I have troubles for selecting them in my back-end with multer or multiparty due to that special key. I can't select a key that contain special characters like [].

I tried to edit paramNamespace

[2017-02-19 22:00] maxigs opened #147 "S3 Upload currupting files"
Hi,

i'm currently trying to upload some files from a little EmberJS app with the ember-uploader.
While the upload seems to work fine, all the files are corrupted on S3.

It seems that the stored files content type is form-data. Looking into the code of ember-uploader i see that it's submitting a form-data object to S3. I think this should be just the file itself?

Or do i overlook something in th

[2017-02-19 22:12] maxigs commented on #147
I really missed the part in the documentation where it says to use the other uploader, my bad 😊

[2017-02-19 22:12] #147 closed

[2017-02-22 10:13] ValentinTrinque commented on #143
That's strange, I use it in one of my project, and it works. Here is what I am doing :

[2017-02-22 20:19] rbarbour commented on #143
@ValentinTrinque You my friend are awesome.
I was just missing the "{ "x-amz-algorithm" => "AWS4-HMAC-SHA256" }" in my policy. I had just copied the example from the wiki, and didn't realise that this option needed to be set.
Much thanks

[2017-02-22 20:19] #143 closed

[2017-02-22 20:20] ValentinTrinque commented on #143
@rbarbour All pleasure is mine !

[2017-02-23 03:42] digitaltoad commented on #143
Thank you for the helpful response @ValentinTrinque.

[2017-03-02 21:58] kernel-io commented on #144
It's relatively simple

use file-upload component

`import EmberUploader from 'ember-uploader'
export default EmberUploader.FileField.extend({});
`

add event handler in template
`file-upload filesDidChange=(route-action 'filesChanged')`

in route / controller handle the event, the first argument will be the files list
`
....
filesChanged(files) {
      set(this, 'currentModel', files)
}
...
`

th

[2017-03-03 05:19] tythewebguy commented on #146
I _think_ this a Rails convention for passing arrays so the framework knows the data should be an array. But I'm not a Rails guy, so the origin may be something else. But I've seen this syntax used with Rails.

[2017-03-09 19:00] digitaltoad commented on #146
This is a convention that was used in PHP and indeed with Rails as well as other languages/frameworks. It isn't a standard as far as I know. Depending on what you are using on the server, you will either user the key without brackets or with. I'm up for suggestions on this. Do I construct the names programmatically or continue with the current implementation?

[2017-03-09 19:12] digitaltoad commented on #145
The problem with this is that just clearing the value, depending on the browser, doesn't always work. You could simulate what you are referring to by rendering a new file input after selection.

[2017-03-09 19:17] digitaltoad commented on #142
These strings are provided by the browser. Instead you could look at creating a style that hides the input under the facade of a button. http://geniuscarrier.com/how-to-style-a-html-file-upload-button-in-pure-css/

[2017-03-09 19:17] #142 closed

[2017-03-09 19:35] javogel commented on #142
Thank you, @digitaltoad! On point.

[2017-03-09 23:16] stevenwu commented on #147
@maxigs I'm having the same issue. How did you fix this? Thanks.

[2017-03-10 06:29] maxigs commented on #147
I did actually use a different plug-in now, which i had to add s3 support to:

https://github.com/maxigs/ember-file-upload i didn't have the chance to make it a proper pull request yet to get it upstream, but it did work for when i tried it out like this.

[2017-03-10 21:39] karellm commented on #125
@digitaltoad Is there any update on that front? Does this project work with the format returned by the aws-sdk?

[code]

[2017-03-10 21:42] digitaltoad commented on #125
Right now it would not. The s3 uploader is looking for either an endpoint or a bucket name in the json response from signing.

[2017-03-10 21:43] digitaltoad commented on #125
Sorry for the lack of updates. I have been very busy and haven't been able to update this part of the project. I'm not sure when I'll be able to get to it. As a quick fix, you could look at the s3 uploader and override the upload method.

[2017-03-10 21:45] karellm commented on #125
@digitaltoad At the moment I have a hard time getting this to work at all (following instructions or not). S3 doesn't recognize the signature. As soon as I have this working I will see if I can make a PR.

[2017-03-21 03:01] rossanthony opened #149 "Modifying request headers"
I need to add a custom header (required for authorization in the api I'm working with) when making the sign request prior to Ember posting the upload to S3. You mention [here](https://github.com/benefitcloud/ember-uploader#modifying-the-request) that it's possible to add additional headers by extending `EmberUploader.Uploader` like so:

[code]

However it's not obvious to me where I should add thi

[2017-03-21 04:42] rossanthony commented on #149
I've tried the following:

[code]

However upon selecting a file the signing request is sent without the `Authorization` header. The console.log I added in the `ajaxSettings` callback also doesn't fire.

Is the overriding of `ajaxSettings` only available when using the regular uploader and not the S3 one?

[2017-03-21 05:00] rossanthony commented on #149
I took a quick look through the code in [/addon/uploaders/s3.js](https://github.com/benefitcloud/ember-uploader/blob/master/addon/uploaders/s3.js) and noticed that I should be overriding `signingAjaxSettings` instead of `ajaxSettings`, so now have it working using the following...

[code]

[2017-03-21 05:00] #149 closed

[2017-03-21 17:58] jamesfid commented on #125
@karellm I've had luck using the aws-sdk response directly.  Your server needs to only respond with the `fields` key from the aws-sdk response as the `signingUrl` payload.  From there, since ember-uploader proxies the key/values as form names, it will set everything correctly as AWS is expecting per:  http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-authentication-HTTPPOST.html

In short, your

[2017-03-22 01:39] rossanthony opened #150 "Accessing the Location header returned by AWS"
When uploading to S3 is there anyway to gain access to the header named `Location` which it returns containing the url encoded path to the file just uploaded?

[2017-03-23 07:53] kennethlarsen opened #151 "Can't have two uploaders on the same page"
It seems that if I have to components with `ember-uploader` displaying on the same page only the last added component actually works. The first gets the same settings as the last. Is this intended? It would be great to have support for multiple uploaders on the same page.

[2017-03-23 22:44] jamesfid commented on #151
Hmm, are you using the `{{file-upload}}` component?  If so, I wonder if that's the root cause.  I have a custom component that leverages the `Uploader` from `ember-uploader` .  With this component, I am able to render it multiple times and each instance is functioning as intended.  I needed to make my own to handle drag-and-drop and more complex interactions.

I might be able to help if you can gi

[2017-03-23 23:29] jamesfid commented on #150
Out of the box, the `Uploader` only resolves the XML payload to the `didUpload` callback and the promise.   You can see where this happens [here](https://github.com/benefitcloud/ember-uploader/blob/2fec22f69dcd664b55201bc79a4eabf968e51e9e/addon/uploaders/base.js#L218).  It does not pass along the `jqXHR` object that would contain the headers.

Is there a reason you're not getting the URL from the

[2017-03-24 19:52] karellm commented on #125
@jamesfid Thanks for the feedback. I also got it working with the `aws-sdk` !

[2017-03-27 14:16] kennethlarsen commented on #151
I am using the `file-upload`, yes.

[code]
[code]

[2017-03-28 11:48] kennethlarsen commented on #151
You led me in the right direction so now it actually works. Thanks!

[2017-03-28 11:48] #151 closed

[2017-03-28 18:43] digitaltoad commented on #151
To be clear, is there a bug using multiple instances of the file-upload component?

[2017-03-28 19:14] rossanthony commented on #150
Thanks, I will try this method and pull out the location URL from the xml via the `didUpload` callback. I was initially (erroneously) expecting to be able to access the payload return by AWS in the .then() of the upload method, e.g:

[code]

[2017-03-29 06:20] kennethlarsen commented on #151
@digitaltoad If you follow the example in the documentation and use the ``{{file-upload}} that extends the uploader then it does not work with multiple instances.

[2017-04-04 01:57] peavers opened #152 "Easy way to work with a presigned Url?"
My backend (using the aws java SDK) can return a presigned URL to use for PUT requests.

This is a lot easier than trying to build up a response json request that ember-uploader is expecting; Is there an easy way of just plugging in my signed URL?

[2017-04-05 12:40] jacsebastien commented on #146
Ok thank you for the reply.
I think this will be nice if the format of the key can be defined by the developer that will use your plugin in depending on his backend.

[2017-04-09 21:58] jock-dalby commented on #150
I am having the same issue. Even when console.logging out the data in the source code it still returns undefined.

<code>
ajaxPromise (settings) {
    return new Ember.RSVP.Promise((resolve, reject) => {
      settings.success = (data) => {
        console.log(data)
        run(null, resolve, this.didUpload(data));
      };

      settings.error = (jqXHR, responseText, errorThrown) => {
        ru

[2017-04-09 21:59] jock-dalby commented on #150
I am having the same issue. Even when console.logging out response in source code it returns 'undefined'. Any advice is appreciated.

`ajaxPromise (settings) {
    return new Ember.RSVP.Promise((resolve, reject) => {
      settings.success = (data) => {
        console.log(data)
        run(null, resolve, this.didUpload(data));
      };

      settings.error = (jqXHR, responseText, errorThrown) =>

[2017-04-13 21:31] romulomachado commented on #150
I ran into a similar issue, S3 was returning an empty document with a 204 status code.

Setting `success_action_status` to `'201'` on the `sign` method made S3 return the XML document after the `POST` request.

[code]

[Source: POST Object](http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPOST.html)

[2017-04-21 01:05] figuedmundo opened #153 "How get the file in API endpoint [RESOLVED]"
Hi guys,

I have the following component (like the one in the README)

    export default EmberUploader.FileField.extend({
      filesDidChange: function(files) {
        const uploader = EmberUploader.Uploader.create({
          url: (ENV.APP.API_HOST || '') + '/api/v1/images/',
        });
        console.log(uploader);

        if (!Ember.isEmpty(files)) {
          var photo = files[0];

[2017-04-23 04:03] peavers commented on #152
Wasn't able to figure this out so I wrote a microservice to handle signing and returning the object required by this addon.

If anyone is interested it can be deployed as a standalone docker container or java service https://github.com/peavers/squid-service

[2017-04-24 16:30] digitaltoad commented on #152
Sorry for the late response. You could just modify https://github.com/benefitcloud/ember-uploader/blob/master/addon/uploaders/s3.js#L41-L59 to take the expected result from the sign request.

[2017-04-24 16:30] #152 closed

[2017-04-25 14:09] jacsebastien commented on #113
Hello, In which file are we supposed to do this?

[2017-05-02 14:04] #153 closed

[2017-05-03 03:19] mcfiredrill commented on #19
I'm still having issue with this, the order doesn't seem to matter to me. Any tips?

[2017-05-03 03:48] digitaltoad commented on #19
It is 100% easier to use https://github.com/aws/aws-sdk-ruby for pre-signing and then just send the `Content-Type` in the headers instead of rolling your own.

[code]

[2017-05-03 15:48] mcfiredrill commented on #19
@digitaltoad Thanks! I was unaware of that API.
This is working ok for me, I am customizing my uploader as follows:
[code]

Not sure if there is a way to set the acl when uploading using this method though...

[2017-05-23 21:15] hectorh30 commented on #134
@digitaltoad it did it for me, thanks a lot. I ended up creating a wrapper component to achieve this (besides the one that inherits `FileField`).

[2017-06-02 08:46] wuarmin commented on #132
It's important to note, that if you wrap the component you have to define the tagName in your wrapper-component!

[2017-06-02 15:04] tinyweasel commented on #75
It does support drag and drop now.

[2017-06-06 10:02] tinyweasel opened #154 "Style to look like drag and drop"
Is it possible to style the component to look like a drag and drop box? And is there a standard way of changing the default "No file chosen" text?

[2017-06-06 19:31] digitaltoad commented on #154
Styling would be left up to you so anything is possible. A quick search for Bootstrap file inputs (only because Bootstrap is so common) found this https://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3.

[2017-06-07 09:46] tinyweasel commented on #154
Thanks! We're using material design so I'll have a look there. There's no way to change the default text though, no?

[2017-06-08 18:04] digitaltoad commented on #154
This text is controlled by the browser. I would just use CSS to hide the input via it's opacity and then create my own label and update it when the input changes.

[2017-06-12 12:55] tinyweasel commented on #154
Thanks! I'll try that.

[2017-06-12 12:55] #154 closed

[2017-06-19 14:41] tinyweasel commented on #107
How do you pass the progress values into the progress-bar component?

[2017-06-26 15:36] tinyweasel opened #156 "Progress is always 100"
Tried to use the following code to create a progress bar but the percentage is always 100. Logging it to the console immediately logs 100, even if the file upload takes a few seconds.
[code]

[2017-06-26 16:08] digitaltoad commented on #156
Can you either put a break point at or override `didProgress` and let me know what you are getting for `loaded` and `total` from the event param?

[code]

[2017-06-26 16:10] digitaltoad commented on #107
It depends on the component. You would want to grab the value from the progress event produced by the uploader, possibly bound to the controller. In the example I gave, the progress event from the uploader updates the progress on the controller which is then consumed by the progress component.

[2017-06-26 16:27] tinyweasel commented on #156
I tried overriding didProgress, but nothing got logged to console. Also, I have` EmberUploader.FileField`. Does that change things? I put a breakpoint at `console.log(e.percent)`, e.total and e.loaded are the same.

[2017-06-26 17:01] digitaltoad commented on #156
Is this local or a remote server? Weird that`total` and `loaded` would be the same. Does the server support progress?

[2017-06-27 08:21] tinyweasel commented on #156
Looks like the server doesn't support progress! Thanks for your help.

[2017-06-27 08:21] #156 closed

[2017-06-28 04:54] dbinetti commented on #134
So I'm a total Ember newbie, but in your example @digitaltoad what exactly happens in your `action "clear"`?  I mean, if you're not calling `this.set('files', []);` then what are you doing?

My use case seems pretty common:  I'm uploading a file, then transitioning to a new record, and the file input field remains populated.  I'm also renaming the input to a canonical form, which is confusing user

[2017-06-29 03:19] digitaltoad commented on #134
In that example I would be doing that but `files` in this case isn't on the field itself but the controller. When a file is selected, I populate `files` on the controller which in turn removes the file field from the view. The best way to clear a file field of its value is to recreate it. The clear action would indeed execute `this.set('files', [])` which in turn would create a new file field.

[2017-07-14 21:30] BobrImperator opened #158 "400BadRequest on upload"
Hello, I am getting 400Bad Request error on POST method after receiving a upload URL from Rails Api.

My ember client is pretty much copy-pasted from README, as is rails controller from wiki.

Rails controller
` class SignController < ApplicationController

         def sign
           @expires = 10.hours.from_now.utc.iso8601
           render json: {
          acl: 'public-read',
          awsacc

[2017-07-18 14:41] tinyweasel opened #159 "Enable preventDefault"
I've styled my component like this, so it looks like a drag and drop. The file upload works wherever you click on the drag and drop box, although the drag and drop has stopped working except when you drag directly into the input, which I've styled with the CSS from below, so you can't drag directly onto it. When you drag and drop onto the box, the file you are trying to upload opens in the browser

[2017-07-18 18:02] digitaltoad commented on #159
You would do this in your `file-upload` component using the `dragOver` event.

[2017-07-18 18:04] digitaltoad commented on #158
Instead of using a custom signing method as I have detailed previously, use the [aws-sdk-ruby](https://github.com/aws/aws-sdk-ruby) to generate a pre-signed url for uploading.

[2017-07-19 14:14] tinyweasel commented on #159
I couldn't seem to get that working, but I solved the problem by making the file input and the file-upload span the same size.

[2017-07-19 14:14] #159 closed

[2017-07-19 16:09] tinyweasel opened #160 "Start and stop not defined in unit tests"
I'm trying to implement the unit tests from the code here but getting:

How can I fix it?

[2017-07-21 16:12] jaylane opened #161 "arbitrary data attribute to file-upload component"
Not sure if this has been discussed or if there is a way to do it but is there a way to bind a data attribute to the file-upload component ie:

{{file-upload id="upload" url="/tools/sku/reactivate" class="center-block" name="csvdata" data-module="reactivated"}}

I know typically you can reopen an ember class and bind the attribute, just not sure which class needs to be extended for the component e

[2017-07-21 16:15] jaylane commented on #161
disregard figured it out

EmberUploader.FileField.reopen({
  attributeBindings: ['data-module']
});

thanks for the great addon

[2017-07-21 16:15] #161 closed

[2017-07-26 08:33] tinyweasel opened #162 "Drag and drop does not work in IE"
Could you confirm that this is the case, or if it should work? It does work in Chrome.

[2017-07-27 19:07] ioan-pop opened #163 "Add the option to skip form data insertion (won't change default functionality)"
The extra form data that is inserted for files can cause issues on the other hand, I suggest adding a optional property of "skipFormData" (Boolean) to the uploader object. Example:

`const uploader = EmberUploader.Uploader.create({
  url: this.get('url'),
  method: "PATCH",
  skipFormData: true
);`

Then inside the /addon/uploaders/base.js on line 63 the data can be changed to be:

`const data   =

[2017-08-01 22:54] digitaltoad commented on #163
I guess I don't really understand the problem here. There should be a single `FormData`. `FormData` is required (afaik but please do correct me if I'm wrong as I would like to know) for upload via JS.

[2017-08-01 22:56] digitaltoad commented on #162
IE 10+ would be required afaik.

[2017-08-01 22:56] #162 closed

[2017-08-02 09:35] tinyweasel commented on #162
It's not working for me with IE11.

[2017-08-08 15:18] ioan-pop commented on #163
Hey digitaltoad, you're right, this issue can be closed. Thanks!

[2017-09-11 06:38] SaffaShujah opened #164 "WHile uploading to S3 can we make the sign call with method 'POST' instead of 'GET"?"
Trying to make a /sign call for S3 upload to be a 'POST' one.
But call does not change when method : 'POST' is sent in creation of S3Uploader.

` uploader = EmberUploader.S3Uploader.create({
        url: this.get('url'),
        method: 'POST'
      });`

[2017-11-03 22:05] peavers commented on #84
@ValentinTrinque this could be as simple as something like this
[code]
Assumes your asset is the response from uploading, something like

[code]

[2017-11-04 08:10] ValentinTrinque commented on #84
@peavers I am not working on the project with requiring this. However, thank you for the tip.

[2017-11-30 17:00] coreypmurphy commented on #123
@marpo60 , your example helps in triggering the "filesDidChange" event and we get a little further along in testing but it doesn't solve the remaining hurdle for testing file upload with relates to the actual files object.  Triggering that event does me no good if my "files" object is empty and I have no way to modify it with dummy file data.

I'm trying to test that filenames are valid (e.g. don'

[2017-11-30 18:47] coreypmurphy commented on #123
Best solution to date given that "event.target" is now read only appears to be the following post @chrism: https://medium.com/@chrisdmasters/acceptance-testing-file-uploads-in-ember-2-5-1c9c8dbe5368

[2018-01-04 08:08] pcambra opened #166 "Ember 2.16/2.17 compatibility"
I'm upgrading an app that relies on ember-uploader to 2.17, and I think there's something in the way that needs to be altered to make them compatible (version 1.2.3 points to `"ember-cli": "2.5.0"`).

There are some babel transpiling issues regarding the `lib/version.js` file that throw this error:

```www/ember-uploader/node_modules/ember-cli-babel/index.js: Property callee of CallExpression expe

[2018-03-11 21:24] j15e commented on #150
Please note the returned location header is encoded in a strict version where spaces are replace with `+`, which the `decodeURIComponent` method does not replace.

Not sure why S3 does this since spaces are allowed in HTTP headers and the description in the API documentation does not explain `Location` more than `URI of the object. - Type: String`.

Anyway, I suggest simply adding a replace like t

[2018-03-25 13:48] msalahz opened #167 "DEPRECATION: An addon is trying to access project.nodeModulesPath."
I see the following error after `ember s`

DEPRECATION: An addon is trying to access project.nodeModulesPath. This is not a reliable way to discover npm modules. Instead, consider doing: require("resolve").sync(something, { basedir: project.root }). Accessed from:   new NPMDependencyVersionChecker (/Users/username/Projects/datagem-admin-frontend/node_modules/ember-uploader/node_modules/ember-cli-v

[2018-03-28 20:49] digitaltoad opened #170 "Looking for a maintainer."
Benefitcloud no longer uses Ember and I don't have the time to continue working on this add-on. If anyone would like to take it over, please let me know.

[2018-03-29 13:01] Dhaulagiri commented on #170
I would be interested insofar as I would like to help get this addon up to date as it is one of the only ones left in our app using babel 5.

Long term, though, I wonder if we wouldn't be better off combining forces with https://github.com/tim-evans/ember-file-upload and suggesting people migrate to it?  I _think_ they work relatively similarly, and the only reason I haven't changed to it in our a

[2018-03-30 17:31] snewcomer commented on #170
I would love to help push through features and bug fixes along with @Dhaulagiri if you don't mind giving write access.

I have yet to try see what replacing the same functionality I have w/ ember-file-upload yet, so not familiar with exactly what would need to happen...but would think a good path forward would be to get this addon up to date, fix bugs and eval if combining forces is a good idea.

[2018-04-12 21:01] snewcomer commented on #170
@digitaltoad Pinging this again.  If possible, could you assign npm publish rights and such to me (and or @Dhaulagiri) when you have time?

[2018-04-13 00:55] digitaltoad commented on #170
@snewcomer Sure thing. I have no problem letting the repo go somewhere else. I just want to verify the new maintainer(s).

[2018-04-25 12:29] chvonrohr commented on #123
after some debugging, i found a solution where no adjustments on the original code have to be made.
I'm quite not sure, which ember versions this support, as I'm working with Ember 3.1.

The triggerEvent function used in ember acceptance tests checks for the change-event and creates a special FileEvent:
https://github.com/emberjs/ember-test-helpers/blob/master/addon-test-support/%40ember/test-help

[2018-05-17 22:46] rwwagner90 commented on #170
Were @snewcomer and @Dhaulagiri added as maintainers? We need to get this updated and off of bower and such.

[2018-05-17 23:18] Dhaulagiri commented on #170
Not that I’m aware of

[2018-05-18 13:42] snewcomer commented on #170
I'll be pushing up an upgrade PR today.

[2018-05-18 21:57] rwwagner90 commented on #170
@digitaltoad can we get some maintainers added here please?

@snewcomer nice, thanks for updating!

[2018-05-18 22:27] industiger commented on #170
Josh @digitaltoad is taking some time off and will get back soon. I apologize for the wait.

[2018-05-23 19:20] rwwagner90 commented on #170
@industiger no problem. I would just love to help get this up to date and maintained, and it looks like several others are interested too 😄

[2018-05-31 17:56] digitaltoad commented on #170
I'm going to go ahead and add @snewcomer and @Dhaulagiri as maintainers for now. If you want to talk about possibly moving the repo I'm fine with that as well.

[2018-05-31 17:56] #170 closed

[2018-06-01 12:41] Dhaulagiri commented on #170
@digitaltoad are you still going to handle publishing to NPM or is that something we should be added to as well?

[2018-06-01 13:40] digitaltoad commented on #170
Sorry I’ll add you there as well.

[2018-06-02 14:28] Dhaulagiri commented on #140
Closing due to age but please re-open if this is still a problem

[2018-06-02 14:28] #140 closed

[2018-06-02 14:37] #160 closed

[2018-06-02 14:37] #167 closed

[2018-06-07 14:01] Kernes opened #174 "Could not find module `@ember/version` imported from `ember-uploader/index`"
Hi,

I’m using Ember v2.18 and ember-uploader v1.3.0.

When I navigate to a page using the uploader component, I get the following error in the console:

`Could not find module @ember/version imported from ember-uploader/index`

Do you have any idea how I can fix this?

Thanks!

[2018-06-07 14:22] Dhaulagiri commented on #174
@Kernes out of curiosity, what version of ember-cli-babel are you using in your package.json?

[2018-06-07 14:27] Kernes commented on #174
Hi @Dhaulagiri,

I’m using v6.6, my package.json contains `"ember-cli-babel": "^6.6.0"` and all node packages are up-to-date.

[2018-06-07 14:31] Dhaulagiri commented on #174
@snewcomer the way that this addon exports itself seems a little non-standard so I am a little confused in this case, but I suspect that we might not be able to use the new modules syntax. Any thoughts?

[2018-06-07 14:58] snewcomer commented on #166
@pcambra Could you test this against `1.3` if you don't mind?  Feel free to close if it is fixed.

[2018-06-07 15:01] snewcomer commented on #174
@Kernes which module couldn't it import?

`Could not find module imported from ember-uploader/index`

@Dhaulagiri Yeah it totally is. Good catch! 👍 I would be in favor of removing the version checker and adding those exports so they are merged into the consuming application's namespace!

[2018-06-07 15:12] Dhaulagiri commented on #174
Yeah the version checker seems unnecessary to me, so +1 to removing it regardless.

[2018-06-07 15:13] Kernes commented on #174
@snewcomer i edited my message. it's @ember/version

[2018-06-08 18:03] Dhaulagiri commented on #174
@Kernes can you try 1.3.1 and see if it corrects your issue?

[2018-06-09 08:57] Kernes commented on #174
It seem like good for this error, but now i have the error :
`Uncaught Error: Could not find module @ember/application/namespace imported from ember-uploader/core`

[2018-06-09 14:10] Dhaulagiri commented on #174
@Kernes I was able to reproduce this locally for a brief moment before accidentally fixing it.  I _think_ what might have been happening is that I had a stale node_modules folder for the addon which did not have a current version of ember-cli-babel referenced. Can you run `npm ls ember-cli-babel` locally and see what version `ember-uploader` is using?

[2018-06-09 14:45] snewcomer commented on #174
@Dhaulagiri My understanding is `@ember` syntax is only safe if it is in the addon folder and reexported.  I suspect this has to do with what you pointed out earlier this week.

[2018-06-09 15:21] Kernes commented on #174
@Dhaulagiri `ember-cli-babel@6.14.1`

[2018-06-09 16:14] Dhaulagiri commented on #174
@snewcomer that is generally true but wouldn’t explain how I was able to reproduce it.

In any event, the easiest solution is probably to undo the modules import changes that were made since they don’t actually provide any benefit, and then subsequently we can do the modules change and fix the export problems in a major version change.

[2018-06-09 18:52] Dhaulagiri commented on #174
@Kernes if you are able to, can you point your package.json to `benefit-cloud/ember-uploader#br-modules` and see if that corrects the problem?

[2018-06-10 07:15] simonc commented on #174
Hi @Dhaulagiri.

I'm working with @Kernes. Sadly ember-uploader was the last package to prevent a massive dependencies update and it was blocking the entire team. Since we were already using ember-file-upload in other parts of our app we decided to rewrite the problematic section and got rid of ember-uploader. We won't be able to answer any further questions 😞

We'd like to thank you for your reac

[2018-06-10 13:11] #174 closed

[2018-06-20 07:13] pcambra commented on #166
Sorry, I've since moved to ember-file-upload, I guess we can close

[2018-06-20 07:13] #166 closed

[2018-06-28 12:48] sevkibaba opened #181 "Setting headers is not working"
Hello,
First of all, thank you very much for your effort, it is very easy to use ember-uploader addon.

I came up with a code to make users upload images. However, I need to send an auth token. It is not working as it is expected. I used the code example in the ReadMe file. I am getting an authorization error when I add a file.
Here is my code:
[code]

This might be related to ember version so her

[2018-06-29 15:02] olenderhub opened #182 "wrong variable (or need update doc) when you want to setting custom headers with extending s3 uploader"
Good morning,

In my case, I needed to extend s3 uploader with different headers.
In documentation is https://github.com/benefitcloud/ember-uploader#modifying-the-request

and it is fine when extending the uploader.js, but when you want to extend s3 uploader you have to

[code]

https://github.com/benefitcloud/ember-uploader/blob/01330b0b780c092d7ff8b38d0c311387bd01d3ec/addon/uploaders/s3.js#L70

[2018-06-29 15:57] snewcomer commented on #182
@olenderhub Hey!  What is the problem + proposed solution?  Are you referring to this?

[code]

[2018-06-29 16:49] olenderhub commented on #182
@snewcomer Thank you for the reply. Yes, with this it works. Firstly I thought if in doc is:

[code]

so in s3 should be the same.

Solution1:
replace the name in https://github.com/benefitcloud/ember-uploader/blob/master/addon/uploaders/s3.js#L70

to `ajaxSettings` (which is in uploader.js)

solution2:

update doc, that if you want to pass different ajax settings extending the s3.js, you should u

[2018-06-29 17:20] snewcomer commented on #182
For point 1, that might break ppl's apps.  So we would need to make it backwards compat or go with number 2 as you stated.

For the session piece, would something like this work?

[code]

[2018-06-29 17:34] olenderhub commented on #182
For point 1, yes that will break ppl's apps, when they update the addon. There is also 3 solution, create an alias and check firstly `ajaxSettings` then `signingAjaxSettings`, or just back to solution number 2.

Regards to session code. We don't use the FileField in a project (just old custom). I am updating (from "ember-cli-uploader": "^0.3.6", and refactoring old code - can't do next to change a

[2018-06-29 17:45] snewcomer commented on #182
Yeah essentially the S3Uploader isn't built with the container, so you need to get the service off of something that is built with the container.  Will think about the header idea.

Lmk if you have any other questions!

[2018-07-07 17:34] danielspaniel commented on #181
all you have to do is:
[code]

[2018-07-08 01:07] snewcomer commented on #181
@sevkibaba Depending on your codebase, it might be easy to update to `2.0.0`.  Also, I'm not 100% sure if the readme is compat with `0.3.11` as that was ~3 years ago.

https://github.com/benefitcloud/ember-uploader/releases
https://github.com/benefitcloud/ember-uploader#modifying-the-request

[2018-07-08 02:06] #182 closed

[2018-07-24 11:34] sevkibaba commented on #181
@danielspaniel Thanks Daniel but the code you gave is for S3 upload. Anyways, it's syntax is good looking and I decided to use it that way.

@snewcomer Thank you, I didn't realize that I was using an older version. I think it is caused because I used npm install. I installed the add-on again with ember install command and everything is working fine.

Cheers.

[2018-07-24 11:35] #181 closed

[2018-08-07 00:27] Duder-onomy commented on #123
Just got here again.. You all rock!
@chvonrohr's solution worked for me (Ember 3.2)

[2018-08-07 05:04] ezekg commented on #147
Just a quick solution for future reference to anyone who hits this issue:

[code]

Solving #163 would probably fix this issue as well.

[2018-08-07 14:01] ezekg commented on #163
As mentioned in #147, form data is _not_ required, and messes with uploads that should be a binary upload. For example, AWS S3 doesn't support form data (and I'm not sure how it's working for other people, to be honest). I'm using this modified uploader below to be able to upload to S3:

[code]

I was seeing issues where the uploader would send `multipart/form-data`, and that data would be stored

[2018-09-04 18:36] TristanToye commented on #158
Struggling to replace the example with a pre-signed url from the sdk. Can't seem to get the credentials encrypted.

Trying to use `Aws::S3::PresignedPost` but unclear on how to configure it the same way as the example.

[2018-09-04 19:39] artemgurzhii opened #184 "Authentication headers"
I'm using `EmberUploader.Uploader` to send the file to the back-end server. But I didn't find any way to add `Authorization: Bearer TOKEN` header to the request.

[2018-09-05 19:49] ezekg commented on #184
I think you need to add that into `ajaxSettings`. For example:

[code]

[2018-09-05 19:50] ezekg commented on #164
You can change the S3 signing method with the [`signingMethod`](https://github.com/benefitcloud/ember-uploader/blob/master/addon/uploaders/s3.js?ts=2#L21) property.

[2018-09-06 09:58] artemgurzhii commented on #184
@ezekg Yes, the problem was that I receive a token from the `session` service(`get(this, 'session.token')`) and I was a bit confused with [this example](https://github.com/benefitcloud/ember-uploader#modifying-the-request).

[2018-09-06 09:58] #184 closed, assigned to nobody

[2018-10-23 16:02] tinyweasel commented on #151
Can confirm if you use two instances of {{file-upload}} on the same page then only one works regardless of which one you put files in, unless you overwrite filesDidChange.

[2018-11-25 12:53] musaffa opened #185 "Remove jQuery dependency"
Upcoming Ember Octane won't have any jQuery dependency. We need to align this addon for [Ember 2018 Roadmap](https://github.com/emberjs/rfcs/pull/364). This is the only addon I use that has a jQuery dependency.

Any thoughts?

[2018-11-26 02:35] snewcomer commented on #185
@musaffa That sounds like a good idea!  What do you think about `ember-fetch`?  The backlog of OSS work I have at the moment is quite long.  I'd be happy to review any PR's but can't start anything new until I move some things off the list.

[2018-11-26 03:13] musaffa commented on #185
`ember-fetch` is the ideal choice. I'll try to come up with a PR.

[2020-03-19 02:56] #134 closed

[2020-09-24 14:01] rap2hpoutre opened #194 "Is this package still maintained?"
Is this package still maintained? Is there a competitor?